<div class="myPageLnb">
	<div class="myRank">
		<p class="rank userLv1" id="Lv">
			<span class="btnMain">관리자</span>
		</p><!-- 기본등급 userLv1 ~ 최고등급 userLv4 -->
		<p class="txt">
			<span>HELLO, MANAGER!</span><br>
			<em id="name">류상훈님</em>
		</p>
	</div>
	<div class="myPageMenu">
		<ul class="dep1">
			<li>
				<p>회원관리</p>
				<ul class="dep2">
					<li><a href="#">일반회원</a></li>
					<li><a href="#">트레이너</a></li>
				</ul>
			</li>
			<li>
				<p>쿠폰관리</p>
				<ul class="dep2">
					<li><a href="/admin/couponList?page=1">쿠폰리스트</a></li>
					<li><a href="/admin/couponInput">쿠폰등록</a></li>
				</ul>
			</li>
			<li>
				<p>공지사항</p>
				<ul class="dep2">
					<li><a href="/admin/noticeList?page=1">공지사항</a></li>
					<li><a href="/admin/noticeInsert">공지사항 등록</a></li>
				</ul>
			</li>
			<li>
				<p>문의관리</p>
				<ul class="dep2">
					<li><a href="/manager/memberInquiry?page=1">1:1문의</a></li>
					<li><a href="/admin/memberSoundList?page=1">고객의소리</a></li>
				</ul>
			</li>
			<li>
				<p>상품관리</p>
				<ul class="dep2">
					<li><a href="/manager/calculateList?page=1">정산내역</a></li>
					<li><a href="/manager/refundList?page=1">환불내역</a></li>
					<li><a href="/admin/inventoryList?page=1">재고내역</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>