<!-- footer -->
<footer id="footer">
	<div class="copyArea">
		<div class="copyLink">
			<ul>
				<li><a href="#">회사 소개</a></li>
				<li><a href="#">공지사항</a></li>
				<li><a href="#">입점·제휴문의</a></li>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">개인정보처리방침</a></li>
			</ul>
		</div>
		<div class="copySns">
			<a href="https://www.instagram.com/ryuu4512/" class="instar"target="_blank" >RYU</a>
			<a href="https://www.instagram.com/gahee_0305/" class="instar"target="_blank" >YU</a>
      		<a href="https://www.instagram.com/eunehd/" class="instar"target="_blank" >WON</a>
      		<a href="https://www.instagram.com/y_yh95/" class="instar"target="_black" >YUN</a>
		</div>
		<div class="copyRight">
			<div class="copyInfo">
				<em class="noLine">㈜아령하세요</em>
				<em>서울시 강남구 아령빌딩 1F ~ 123F</em>
				<em>대표: 이창섭</em>
				<em>사업자등록번호 1991-0722</em>
				<br>
				<em class="noLine">고객센터 : 010-9535-0371</em>
				<em>FAX : 9535-0371</em>
				<em>관리자이메일 : <a href="mailto:roksellid02@gmail.com">roksellid02@gmail.com</a></em>
			</div>
			<p>Copyright HealthDao. Co. Ltd All Right Reserved</p>
		</div>
	</div>
</footer>
<!-- //footer -->