	<header id="header">
		<!-- HEADERTOP -->
		<div class="headerTop">
			<div class="contents">
				<div class="utilMenu">
					<ul>
						<th:block sec:authorize="isAnonymous()">
							<li><a href="/member/login">로그인</a></li>
							<li><a href="/member/signUp">회원가입</a></li>
						</th:block>
						<th:block sec:authorize="isAuthenticated()">
							<li><a href="/member/logout">로그아웃</a></li>
						</th:block>
						<li><a href="#">주문 조회</a></li>
						<li><a href="#">고객센터</a></li>
					</ul>
					
					<!-- 로그인 레이어 -->
					<div id="loginLayer">
						<div class="loginTabH">
							<form id="loginForm" action="/main" method="post">
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" id="ip_name" name="username" title="아이디" placeholder="아이디">
									</div>
									<p class="error">아이디를 입력해주세요.</p>
								</div>
								<div class="inp_wrap mgt10">
									<div class="inp_text sizeS">
										<input type="password" id="ip_pwd" name="password" title="비밀번호" placeholder="비밀번호">
									</div>
									<p class="error">비밀번호를 입력해주세요.</p>
								</div>
								<span class="inp_check mgt15">
									<input type="checkbox" id="id_auto_loing_H">
									<label for="id_auto_loing_H">자동 로그인</label>
								</span>
								<a href="#" onclick="return chk_form()" class="btn btnSizeM btnColorP btnTypeR w100 mgt17"><span>로그인</span></a>
							</form>
						</div>
						<div class="btn_member">
							<ul>
								<li><a href="/signUp">회원가입</a></li>
								<li><a href="/findIdPwd">아이디 찾기</a></li>
								<li><a href="/findIdPwd">비밀번호 찾기</a></li>
							</ul>
						</div>
						<div class="btn_sns">
							<ul>
								<li class="sns_n"><a href="javascript:void(0);"><span>네이버 로그인</span></a></li>
								<li class="sns_k"><a href="javascript:void(0);"><span>카카오 로그인</span></a></li>
							</ul>
						</div>
						<div class="loginLayerClose">
							<a href="javascript:void(0);" onclick="loginLayer();">닫기</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- // HEADERTOP -->

		<!-- HEADER -->
		<div class="daoHeader">
			<h1><a href="/"><img class="logoClass" src="../../images/common/logo.png" alt="BANILA.COM"></a></h1>
			<div class="searchH">
				<div class="searchWrap">
					<div class="inp_wrap">
						<div class="inp_text">
							<input type="text" id="headerSearch">
							<button class="btn_clear"><span>clear</span></button>
							<button class="btn_search" type="button"><span class="hide">검색</span></button>
						</div>
					</div>
				</div>
				<div class="jsSearchTxt">
					<div class="rollCon">
						<div class="txt">검색어 순위 1위 노출</div>
						<div class="txt">검색어 순위 2위 노출</div>
						<div class="txt">검색어 순위 3위 노출</div>
						<div class="txt">검색어 순위 4위 노출</div>
						<div class="txt">검색어 순위 5위 노출</div>
					</div>
				</div>
			</div>
			<div class="myMenuH">
				<ul>
					<li><a href="/mypage/myInfo">마이페이지</a></li> <!-- 결제내역 페이지 생기면 수정 예정 -->
					<li><a href="#">장바구니 <span>99</span></a></li>
				</ul>
			</div>
		</div>
		<!-- //HEADER -->
		<!-- GNB -->
		<div class="gnbWrap">
			<div class="gnb">
				<div class="contents">
					<ul class="gnbLink">
						<li><a href="/shopping/ranking/">랭킹</a></li>
						<li><a href="/shopping/newProduct/">신상품</a></li>
						<li><a href="/shopping/foodProduct/">식품</a></li>
						<li><a href="/shopping/beverageProduct/">음료</a></li>
						<li><a href="/shopping/goodsProduct/">운동·생활용품</a></li>
						<li><a href="/trainer/">주변 PT 찾기</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //GNB -->
	</header>
