	<header id="header">
		<!-- HEADERTOP -->
		<div class="headerTop">
			<div class="contents">
				<div class="utilMenu">
					<ul>
						<th:block sec:authorize="isAnonymous()">
							<li><a href="/member/login">로그인</a></li>
							<li><a href="/member/signUp">회원가입</a></li>
						</th:block>
						<th:block sec:authorize="isAuthenticated()">
							<li><a href="/member/logout">로그아웃</a></li>
						</th:block>
						<li><a href="#">주문 조회</a></li>
						<li><a href="#">고객센터</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- // HEADERTOP -->

		<!-- HEADER -->
		<div class="daoHeader">
			<h1><a href="/"><img class="logoClass" src="../../images/common/logo.png" alt=""></a></h1>
			<div class="searchH">
				<form action="/shopping/search" method="post" name="searchPdt">
					<div class="searchWrap">
						<div class="inp_wrap">
							<div class="inp_text">
								<input type="text" id="headerSearch" name="searchPdt">
								<button class="btn_search" type="submit"><span class="hide">검색</span></button>
								<button class="btn_clear"><span>clear</span></button>
							</div>
						</div>
					</div>
				</form>
				<div class="jsSearchTxt">
					<div class="rollCon">
						<div class="txt">헬스Dao X 춘식이 컬래버레이션🥰😘</div>
						<div class="txt">🐔닭이 먼저냐 🥚달걀이 먼저냐 그것이 궁금하다!</div>
						<div class="txt">호랑이 기운을 받아 헬스다오흥🐯</div>
						<div class="txt">헬창을 사랑한다면? 닭찌찌 재입고🐔</div>
						<div class="txt">아직도 야식 먹어요?😨 손쉽게 식단 관리 해보세요👨‍🍳</div>
					</div>
				</div>
			</div>
			<div class="myMenuH">
				<ul>
					<li><a href="/mypage/">마이페이지</a></li>
					<li><a href="/mypage/cart">장바구니<span id="mainCartCount">0</span></a></li>
					<th:block sec:authorize="hasRole('ADMIN')">
					<li><a href="/admin/">관리자페이지</a></li> <!-- 임시 -->
					</th:block>
				</ul>
			</div>
		</div>
		<!-- //HEADER -->
		<!-- GNB -->
		<div class="gnbWrap">
			<div class="gnb">
				<div class="contents">
					<ul class="gnbLink">
						<li><a href="/shopping/ranking/">랭킹</a></li>
						<li><a href="/shopping/newProduct?page=1">신상품</a></li>
						<li><a href="/shopping/foodProduct?page=1">식품</a></li>
						<li><a href="/shopping/beverageProduct?page=1">음료</a></li>
						<li><a href="/shopping/goodsProduct?page=1">운동·생활용품</a></li>
						<li><a href="/trainer/">주변 PT 찾기</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //GNB -->
	</header>
