<!-- mypage lnb -->
<div class="myPageLnb">
	<div class="myRank">
		<p class="rank userLv1" id="Lv">
			<span class="btnMain">관리자</span>
		</p><!-- 기본등급 userLv1 ~ 최고등급 userLv4 -->
		<p class="txt">
			<span>HELLO, VIP!</span><br>
			<em id="name">류상훈님</em>
		</p>
	</div>
	<div class="myPageMenu">
		<ul class="dep1">
			<li>
				<p>주문관리</p>
				<ul class="dep2">
					<li><a href="/mypage/myOrder">상품주문</a></li>
					<li><a href="/mypage/myOrder">PT예약</a></li>
				</ul>
			</li>			
			<li>
				<a href="/mypage/point">포인트</a>
			</li>
			<li>
				<p>이벤트</p>
				<ul class="dep2">
					<li><a href="/mypage/attendanceCheck">출석체크</a></li>
					<li><a href="/mypage/event/couponEvent">쿠폰받기</a></li>					
				</ul>
			</li>
			<li>
				<p>내 활동</p>
				<ul class="dep2">
					<li><a href="/mypage/review">상품 리뷰</a></li>
					<li><a href="/mypage/qna?page=1">1:1 문의</a></li>
					<li><a href="/mypage/mywish">위시리스트</a></li>
				</ul>
			</li>
			<li>
				<a href="/mypage/myCoupon">내 쿠폰</a>
			</li>			
			<li>
				<p>내 정보 관리</p>
				<ul class="dep2">
					<li><a href="/mypage/confirmpw">회원정보수정</a></li>
					<li><a href="/mypage/myaddress">배송지 관리</a></li>
					<li><a href="javascript:;" onclick="goLeaveMemberInfo();return false;">회원탈퇴 하기</a></li>
				</ul>
			</li>
			<li>
				<a href="/mypage/customCenter">고객센터</a>
			</li>
			<li>
				<a href="/mypage/memberSound">고객의 소리</a>
			</li>
		</ul>
	</div>
</div>
<!-- //mypage lnb -->