<!-- 퀵메뉴 -->
<div id="quick">
	<div class="contents">
		<div class="quickArea">
			<p class="tit">QUICK MENU</p>
			<div class="recentArea">
				<div class="tit">최근 본 상품</div>
				<div class="recoQuick">
					<div class="list">
						<a href="#">
							<img src="/images/temp/pdt02.png" alt="">
						</a>
					</div>
					<div class="list">
						<a href="#">
							<img src="/images/temp/pdt01.png" alt="">
						</a>
					</div>
					<div class="list">
						<a href="#">
							<img src="/images/temp/pdt03.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="likeArea">
				<a href="#">					
					<span>찜한 상품</span>
				</a>
			</div>
			<div class="cartArea">
				<a href="#"><span>장바구니</span></a>
			</div>
			<div class="bottomArea">
				<ul>
					<li><a class="btnTop" href="javascript:void(0);">△</a></li>
					<li><a href="#"><span class="hide">마이페이지</span></a></li>
					<li><a class="btnBtm" href="javascript:void(0);">▽</a></li>
				</ul>				
			</div>
		</div>
	</div>
</div>
<!-- 톡톡 -->
<button type="button" class="btnTalk" onclick="showLayer('talk');talkStart();"><span class="hide">TalkBtn</span></button>
<div id="talk" class="lyPopArea bgnone">
	<div class="lyPop">
		<div class="lyWrap">
			<button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
			<div class="lyTit">토크토크~</div>
			<div class="lyBody basic">
				<p>궁금증을 해결해드립니다😁</p>
				<div class="chatArea">
					<div class="chatCon">
						<div id="chatData" class="row">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--// 퀵메뉴 / 톡 -->
<script>	
	function talkStart(){
		let today = new Date();   
		let hours = ('0' + today.getHours()).slice(-2); 
		let minutes = ('0' + today.getMinutes()).slice(-2);
		let seconds = ('0' + today.getSeconds()).slice(-2); 
		let msgTime = hours + ':' + minutes  + ':' + seconds;
		var cbool = false;
		let html = '';
		if(!$("#chatData").children().hasClass("imgArea")){

			html = '<div class="imgArea"><img src="/images/common/talk_chun.gif" alt=""></div>'
				 + '<div class="textArea left"><div>너의 궁금증을 해결해줄게!<br>나는 헬춘식이야<span class="time">'
				 + msgTime
				 + '</span></div></div>'
				 + '<div class="textArea left"><div><ul class="talkSelect">'
				 + '<li><button value="1">궁금한거 1번</button></li>'
				 + '<li><button value="2">궁금한거 1번</button></li>'
				 + '<li><button value="3">궁금한거 1번</button></li>'
				 + '<li><button value="4">궁금한거 1번</button></li>'
				 + '<li><button value="5">궁금한거 1번</button></li>'
				 + '</ul><span class="time">'
				 + msgTime
				 + '</span></div></div>'
			$("#chatData").append(html);
			html = '';
			cbool = true;
		
		}
		if(cbool == true){
			/* document.querySelectorAll('.talkSelect button').forEach(item => item.addEventListener('click', qnaData)); */
			$(".talkSelect button").click(function(){
				
				let a = $(this).val();
				qnaData(a);
			})
			cbool = false;
		}
	}
	
		
	function qnaData(e){
		console.log(e);
		let index = e;
		/* let index = Array.from(document.querySelectorAll(".talkSelect button")).indexOf(this); */
           switch (e){
           	case 0 :
       			today = new Date();   
       			hours = ('0' + today.getHours()).slice(-2); 
       			minutes = ('0' + today.getMinutes()).slice(-2);
       			seconds = ('0' + today.getSeconds()).slice(-2); 
       			msgTime = hours + ':' + minutes  + ':' + seconds;
       			// 시간 재설정
       			html = '<div class="textArea right"><div class="right">1번이 궁금해<span class="time">'+msgTime+'</span></div></div>'
       				 + '<div class="textArea left"><div>헬춘식 헬스 매니아<br>춘식이처럼 몸짱이 되고 싶다면<br>헬스Dao에서<br>시작하라구😎<span class="time">'+msgTime+'</span></div></div>';
       			$("#chatData").append(html);
       			html = '';
       			break;
           	case 1 :
       			today = new Date();   
       			hours = ('0' + today.getHours()).slice(-2); 
       			minutes = ('0' + today.getMinutes()).slice(-2);
       			seconds = ('0' + today.getSeconds()).slice(-2); 
       			msgTime = hours + ':' + minutes  + ':' + seconds;
       			// 시간 재설정
       			html = '<div class="textArea right"><div class="right">2번이 궁금해<span class="time">'+msgTime+'</span></div></div>'
	   				 + '<div class="textArea left"><div>2번이 궁금하구나<br>설명해줄게!<span class="time">'+msgTime+'</span></div></div>';
	   			$("#chatData").append(html);
	   			html = '';
       			break;
           	case 2 :
       			today = new Date();   
       			hours = ('0' + today.getHours()).slice(-2); 
       			minutes = ('0' + today.getMinutes()).slice(-2);
       			seconds = ('0' + today.getSeconds()).slice(-2); 
       			msgTime = hours + ':' + minutes  + ':' + seconds;
       			// 시간 재설정
       			html = '<div class="textArea right"><div class="right">3번이 궁금해<span class="time">'+msgTime+'</span></div></div>'
	   				 + '<div class="textArea left"><div>3번이 궁금하구나<br>설명해줄게!<span class="time">'+msgTime+'</span></div></div>';
	   			$("#chatData").append(html);
	   			html = '';
       			break;
           	case 3 :
       			today = new Date();   
       			hours = ('0' + today.getHours()).slice(-2); 
       			minutes = ('0' + today.getMinutes()).slice(-2);
       			seconds = ('0' + today.getSeconds()).slice(-2); 
       			msgTime = hours + ':' + minutes  + ':' + seconds;
       			// 시간 재설정
       			html = '<div class="textArea right"><div class="right">4번이 궁금해<span class="time">'+msgTime+'</span></div></div>'
	   				 + '<div class="textArea left"><div>4번이 궁금하구나<br>설명해줄게!<span class="time">'+msgTime+'</span></div></div>';
	   			$("#chatData").append(html);
	   			html = '';
       			break;
           	case 4 :
       			today = new Date();   
       			hours = ('0' + today.getHours()).slice(-2); 
       			minutes = ('0' + today.getMinutes()).slice(-2);
       			seconds = ('0' + today.getSeconds()).slice(-2); 
       			msgTime = hours + ':' + minutes  + ':' + seconds;
       			// 시간 재설정
       			html = '<div class="textArea right"><div class="right">5번이 궁금해<span class="time">'+msgTime+'</span></div></div>'
	   				 + '<div class="textArea left"><div>5번이 궁금하구나<br>설명해줄게!<span class="time">'+msgTime+'</span></div></div>';
	   			$("#chatData").append(html);
	   			html = '';
       			break;
           	case 5 :
       			today = new Date();   
       			hours = ('0' + today.getHours()).slice(-2); 
       			minutes = ('0' + today.getMinutes()).slice(-2);
       			seconds = ('0' + today.getSeconds()).slice(-2); 
       			msgTime = hours + ':' + minutes  + ':' + seconds;
       			// 시간 재설정
       			html = '<div class="textArea right"><div class="right">5번이 궁금해<span class="time">'+msgTime+'</span></div></div>'
	   				 + '<div class="textArea left"><div>5번이 궁금하구나<br>설명해줄게!<span class="time">'+msgTime+'</span></div></div>';
	   			$("#chatData").append(html);
	   			html = '';
       			break;
       		default : break;
           }
	}
	recoQuick();
</script>