<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../js/slick.min.js"></script>
<script type="text/javascript" src="../../js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/circle-progress.min.js"></script>
<script type="text/javascript" src="../../js/ui.js"></script>
<script th:inline="javascript">
	// 상품 있는 곳 어디서나 넣어야 됨
	/*<![CDATA[*/
	$(function(){
		var likeValue = [[${likeList}]];
		if(likeValue != null){
			var likeSize = [[${likeList}]].length;
			$.ajax({
				url : "/",
				method : 'GET',
				success : function(data){
					for(let i = 0; i < likeSize; i++){
						$("#pdtNo_"+likeValue[i]).addClass('on');	// 값이 있으면 class on 추가
					}
				},
				error : function(e){
					console.log(e);
				}
			});
		}
	});
	/*]]>*/
</script>