<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>

	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		
		<!--// HEADER + GNB -->
		
		<!-- container -->
	
	<div id="container" class="pdt0">
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<em>마이페이지</em>
		</div>
		<div class="mypage">
			<div class="myMain myCon">
				<div class="contents">
					<!-- mypage lnb -->
					<div th:replace="common/adminGnb.html"></div>
					<!-- //mypage lnb -->

					<!-- myPageCon -->
					<div class="myPageCon">
						<p class="tit mgb40">
							정산내역
						</p>
						<!-- myOrder tab -->

						<!-- //myOrder tab -->

						<div class="myOrderList mgt40">
							<div class="tblBar mgt50">
											<p class="tblList">총 <span th:text="${listCount}"></span>개</p>
											<div class="inp_wrap">
												<div class="inp_text searchType">
													<div class="btn_wrap">
														<a href="#" class="btnn btnSizeL btnColorW btnTypeB" style="width:100px;"><span>Excel</span></a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="js_tblList">
											<table class="tblType1" summary="">
												<caption></caption>
												<colgroup>
													<col width="80px"></col>
													<col width="150px"></col>
													<col width="150px"></col>
													<col width="150px"></col>
													<col width="150px"></col>
												</colgroup>
												<thead>
													<tr>
														<th>제품번호</th>
														<th>제품명</th>
														<th>회사명</th>
														<th>총판매수량</th>
														<th>정산금액</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="clist : ${calculateList}">
														<td class="fc88" th:text=${clist.payNo}></td>
														<td class="ta_l" th:text=${clist.productTitle}></td>
														<td class="fc88" th:text=${clist.productBrand}></td>
														<td th:text=${clist.quantity}></td>
														<td th:text="${#numbers.formatInteger(clist.quantity * clist.productPrice, 0, 'COMMA')+'원'}"></td>
													</tr>
													
													
												</tbody>
											</table>
												<div class="paging mgt50"
													th:with="prev=${pi.page - 1}, next=${pi.page + 1}">
													<a th:href="@{/manager/calculateList(page=1)}" class="first"><span
														class="hide">첫페이지</span></a> <a class="prev"
														href="/manager/calculateList?page="
														th:attrappend="href=${prev}"><span class="hide">이전페이지</span></a>
													<a
														th:each="page : ${#numbers.sequence(pi.startPage, pi.endPage)}"
														href="/manager/calculateList?page="
														th:attrappend="href=${page}" th:text="${page}"
														th:classappend="${page} == ${#httpServletRequest.getParameter('page')} ? active"></a>
													<a class="next" href="/manager/calculateList?page="
														th:attrappend="href=${next}"><span class="hide">다음페이지</span></a>
													<a href="/manager/calculateList?page="
														th:attrappend="href=${pi.maxPage}" class="last"><span
														class="hide">마지막페이지</span></a>
												</div>
										</div>

									</div>
								</li>
								
								
								
								

							</ul>
						</div>



						
					<!-- //myPageCon -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
		<!-- 스크립트 -->
	<th:block th:replace="common/script.html"></th:block>
	<!--// 스크립트 -->
	<!-- FOOTER -->
	<th:block th:replace="common/footer.html"></th:block>
	<!--// FOOTER -->


	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript">
		$('#quick .quickArea').css({
			'position' : 'absolute',
			'top' : 290
		});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>
	