<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
</style>
<!--// 메타태그, 스타일 -->

<body>
	<script>
		const msg = '[[${msg}]]';
		
		if(msg){
			alert(msg);			
		}
	</script>

	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		
		<!--// HEADER + GNB -->

<!-- container -->
	
	<div id="container" class="pdt0">
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<em>마이페이지</em>
		</div>
		<div class="mypage">
			<div class="myMain myCon">
				<div class="contents">
					<!-- mypage lnb -->
					<div th:replace="common/adminGnb.html"></div>
					<!-- //mypage lnb -->

					<!-- myPageCon -->
					<div class="myPageCon">
						<p class="tit mgb40">
							환불 관리
						</p>
						<div class="myOrderList mgt40">
							<div class="tblBar mgt50">
								<p class="tblList">총 <span th:text="${listCount}"></span>개</p>
							<div>
						</div>
						<div class="js_tblList">
							<table class="tblType1" summary="">
								<caption></caption>
								<colgroup>
									<col width="100px"></col>
									<col width="150px"></col>
									<col width="150px"></col>
									<col width="150px"></col>
									<col width="150px"></col>
									<col width="150px"></col>
								</colgroup>
								<thead>
									<tr>
										<th>결제번호</th>
										<th>아이디</th>
										<th>결제일</th>
										<th>환불일</th>
										<th>환불금액</th>
										<th>처리현황</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="rlist : ${refundList}">
										<td class="fc88" th:text=${rlist.refundNo}></td>
										<td th:text=${rlist.userId}></td>
										<td th:text=${rlist.payDate}></td>
										<td th:text=${rlist.refundDate}></td>
										<td th:text="${#numbers.formatInteger(rlist.quantity * rlist.productPrice, 0, 'COMMA')+'원'}"></td>
										<form action="/manager/refundOk" method="post">
											<td>
												<button type="submit" id="subbtn" class="btn btnSizeS btnColorW btnTypeB" style="width:80px;" th:text="${rlist.refundStatus}"><span></span></button>		
											</td>
											<input type="hidden" name="refundNo" th:value="${rlist.refundNo}">
										</form>
									</tr>

								</tbody>
							</table>
								<div class="paging mgt50"
									th:with="prev=${pi.page - 1}, next=${pi.page + 1}">
									<a th:href="@{/manager/refundList(page=1)}" class="first"><span
										class="hide">첫페이지</span></a> <a class="prev"
										href="/manager/refundList?page="
										th:attrappend="href=${prev}"><span class="hide">이전페이지</span></a>
									<a
										th:each="page : ${#numbers.sequence(pi.startPage, pi.endPage)}"
										href="/manager/refundList?page="
										th:attrappend="href=${page}" th:text="${page}"
										th:classappend="${page} == ${#httpServletRequest.getParameter('page')} ? active"></a>
									<a class="next" href="/manager/refundList?page="
										th:attrappend="href=${next}"><span class="hide">다음페이지</span></a>
									<a href="/manager/refundList?page="
										th:attrappend="href=${pi.maxPage}" class="last"><span
										class="hide">마지막페이지</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
						
					<!-- //myPageCon -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
	
		<!-- //container -->
	<!-- 스크립트 -->
	<th:block th:replace="common/script.html"></th:block>
	<!--// 스크립트 -->
	<!-- FOOTER -->
	<th:block th:replace="common/footer.html"></th:block>
	<!--// FOOTER -->


	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript">
		$('#quick .quickArea').css({
			'position' : 'absolute',
			'top' : 290
		});


	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>