<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>

	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->
	
		<!-- container -->		
		<div id="container" class="pdt0">
			<div class="site_location">
				<span><a href="/">HOME</a></span>
				<span><a href="/">마이페이지</a></span>
				<em>메인 롤링 관리</em>
			</div>
			<div class="mypage">
				<div class="myWish myCon">
					<div class="contents">
						<th:block th:replace="common/mypageGnb.html"></th:block>
						<!-- myPageCon -->
						<div class="myPageCon">
							<p class="tit mgb40">
								매인 롤링 관리
							</p>
							<div class="pdtWishBar mgb40">
								<span class="inp_check allChk">
									<input type="checkbox" name="inp_check1" id="inp_check1">
									<label for="inp_check1">전체선택</label>
								</span>
								<div class="btn_wrap">
									<a href="javascript:void(0)" onclick="showLayer('enrollMain');" class="basketBtn btn btnSizeS btnColorW btnTypeB"><span>등록하기</span></a>
									<a href="javascript:void(0)" onclick="showLayer('mainDel');" class="wishBtn btn btnSizeS btnColorW btnTypeB"><span>삭제하기</span></a>
								</div>
							</div>
							<div class="tblType1">
								<table summary="매인 롤링 관리 테이블">
									<caption>매인 롤링 관리 테이블</caption>
									<colgroup>
										<col width="6%">
										<col width="8%">
										<col width="*">
										<col width="12%">
										<col width="30%">
										<col width="6%">
										<col width="8%">
									</colgroup>
									<thead>
										<tr>
											<th>선택</th>
											<th>NO</th>
											<th>배너명</th>
											<th>이미지</th>
											<th>URL</th>
											<th>순위</th>
											<th>노출상태</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="banner : ${bannerList}">
											<td>
												<span class="inp_check">
													<input type="checkbox" name="inp_check1" th:id="@{inp_check1_}+${banner.main_no}" th:value="${banner.main_no}">
													<label th:for="@{inp_check1_}+${banner.main_no}"></label>
												</span>
											</td>
											<td th:text="${banner.main_no}"></td>
											<td class="tdName"><a href="javascript:void(0);" onclick="showLayer('mainRollDetail')"><span th:text="${banner.main_name}"></span></a></td>
											<td class="tdImg"><img th:src="${banner.file_path}+${banner.change_file}" /></td>
											<td th:text="${banner.main_url}"></td>
											<td th:text="${banner.main_rank}"></td>
											<td th:text="${banner.main_status}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="paging mgt40">
								<a href="#" class="first"><span class="hide">첫페이지</span></a>
								<a href="#" class="prev"><span class="hide">이전페이지</span></a>
								<a href="#">1</a>
								<a href="#" class="active">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#" class="next"><span class="hide">다음페이지</span></a>
								<a href="#" class="last"><span class="hide">마지막페이지</span></a>
							</div>
						</div>
						<!-- //myPageCon -->
					</div>
				</div>
			</div>
		</div>
		<!-- //container -->
		
		<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':290});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->

<!-- 메인롤링 등록 -->
<div id="enrollMain" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">메인 롤링 등록</div>
            <div class="lyBody">			
				<ul class="inputArea">
					<li>
						<dl>
							<dt>배너명</dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="name" id="name" placeholder="배너명을 입력하세요.">
										<button class="btn_clear"><span>clear</span></button>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="mgt20">
							<dt>URL</dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="url" id="url" placeholder="/event?no=1">
										<button class="btn_clear"><span>clear</span></button>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="mgt15">
							<dt>사진 추가</dt>
							<dd>
								<ul class="fileUploadArea">
									<li><label for="pdtQna_imgUpload"><span class="hide">업로드</span></label><input type="file" class="hide" name="pdtQna_imgUpload" id="pdtQna_imgUpload"></li>
									<li class="imgCutting">
										<div class="imgBox">
											<img src="./resources/web/images/temp/main01.jpg" alt="">
										</div>
										<a href="javascript:void(0)" class="closeLink"><span class="hide">close</span></a>
									</li>
								</ul>
								<p class="mgt5 fs14">파일첨부 (1개) <span class="fc88">5MB미만 jpg,gif,png 파일 가능</span></p>
							</dd>
						</dl>
					</li>
					<li>
						<dl class="mgt20">
							<dt>순위</dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="rank" id="rank" placeholder="1">
										<button class="btn_clear"><span>clear</span></button>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="mgt20">
							<dt>노출상태</dt>
							<dd class="mgt7">
								<div class="inp_wrap error">
									<span class="inp_check">
										<input type="radio" name="pdtQna_radio3" id="pdtQna_radio3_1" checked>
										<label for="pdtQna_radio3_1">노출</label>
									</span>
									<span class="inp_check mgl40">
										<input type="radio" name="pdtQna_radio3" id="pdtQna_radio3_2">
										<label for="pdtQna_radio3_2" class="fc88">비노출</label>
									</span>
								</div>
								<p class="fs13 fc88 mgt10">* 노출로 등록시 메인화면에 등록됩니다.</p>
							</dd>
						</dl>
					</li>
				</ul>
				<div class="btn_wrap mgt30">
					<a href="#" class="btn btnSizeL btnArr btnColorW btnTypeR" style="width:200px;"><span>취소</span></a>
					<a href="#" class="btn btnSizeL btnArr btnColorB btnTypeR" style="width:200px;"><span>등록</span></a>
				</div>
            </div>
        </div>
    </div>
</div>
<!-- 메인롤링 수정 -->
<div id="mainRollDetail" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">메인 롤링 수정</div>
            <div class="lyBody">			
				<ul class="inputArea">
					<li>
						<dl>
							<dt>배너명</dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="name" id="name" value="메인 롤링 배너 뇽뇽🎄🎄">
										<button class="btn_clear"><span>clear</span></button>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="mgt20">
							<dt>URL</dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="url" id="url" value="/event?no=1">
										<button class="btn_clear"><span>clear</span></button>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="mgt15">
							<dt>사진 추가</dt>
							<dd>
								<ul class="fileUploadArea">
									<li><label for="pdtQna_imgUpload"><span class="hide">업로드</span></label><input type="file" class="hide" name="pdtQna_imgUpload" id="pdtQna_imgUpload"></li>
									<li class="imgCutting">
										<div class="imgBox">
											<img src="./resources/web/images/temp/main01.jpg" alt="">
										</div>
										<a href="javascript:void(0)" class="closeLink"><span class="hide">close</span></a>
									</li>
								</ul>
								<p class="mgt5 fs14">파일첨부 (1개) <span class="fc88">5MB미만 jpg,gif,png 파일 가능</span></p>
							</dd>
						</dl>
					</li>
					<li>
						<dl class="mgt20">
							<dt>순위</dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="rank" id="rank" value="1">
										<button class="btn_clear"><span>clear</span></button>
									</div>
								</div>
							</dd>
						</dl>
						<dl class="mgt20">
							<dt>노출상태</dt>
							<dd class="mgt7">
								<div class="inp_wrap error">
									<span class="inp_check">
										<input type="radio" name="pdtQna_radio3" id="pdtQna_radio3_1" checked>
										<label for="pdtQna_radio3_1">노출</label>
									</span>
									<span class="inp_check mgl40">
										<input type="radio" name="pdtQna_radio3" id="pdtQna_radio3_2">
										<label for="pdtQna_radio3_2" class="fc88">비노출</label>
									</span>
								</div>
								<p class="fs13 fc88 mgt10">* 노출로 등록시 메인화면에 등록됩니다.</p>
							</dd>
						</dl>
					</li>
				</ul>
				<div class="btn_wrap mgt30">
					<a href="#" class="btn btnSizeL btnArr btnColorW btnTypeR" style="width:200px;"><span>취소</span></a>
					<a href="#" class="btn btnSizeL btnArr btnColorB btnTypeR" style="width:200px;"><span>수정</span></a>
				</div>
            </div>
        </div>
    </div>
</div>
<!-- 메인롤링 삭제 -->
<div id="mainDel" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">메인 롤링 삭제</div>
            <div class="lyBody basic">
                <p>정말 삭제하시겠습니까?</p>
                <div class="btn_wrap length2">
                    <a href="javascript:void(0);" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
                    <a href="javascript:void(0);" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>