<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>

	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		
		<!--// HEADER + GNB -->
		<!-- container -->

		<div id="container" class="pdt0">
			<div class="site_location">
				<span><a href="/">HOME</a></span> <em>마이페이지</em>
			</div>
			<div class="mypage">
				<div class="myMain myCon">
					<div class="contents">
						<!-- mypage lnb -->
						<div th:replace="common/adminGnb.html"></div>
						<!-- //mypage lnb -->

						<!-- myPageCon -->
						<div class="myPageCon">
							<p class="tit mgb40">재고 관리</p>
							<!-- myOrder tab -->
							<div class="tabType tabType4 mgt40 no_link">
								<ul>
									<li><a href="/manager/inventoryList" class="current"><span>정산내역<span
												class="count">10</span></span></a></li>
									<li><a href="/manager/RefundList"><span>환불내역<span
												class="count">10</span></span></a></li>
									<li><a href="/manager/inventoryList"><span>재고수량<span
												class="count">10</span></span></a></li>
								</ul>
							</div>
							<!-- //myOrder tab -->

							<div class="myOrderList mgt40">
								<div class="tblBar mgt50">
									<p class="tblList">
										총 <span th:text="${listCount}"></span>개
									</p>
									<div class="inp_wrap">
										<div class="inp_text searchType">
											<div class="btn_wrap">

												<div class="inp_wrap">
													<div class="inp_select yelim"></div>
												</div>

											</div>
										</div>
									</div>
								</div>

								<div class="js_tblList">
									<table class="tblType1" summary="">
										<caption></caption>
										<colgroup>
											<col width="80px"></col>
											<col width="150px"></col>
											<col width="100px"></col>
											<col width="100px"></col>
											<col width="80x"></col>
											<col width="80x"></col>
											<col width="100px"></col>
										</colgroup>
										<thead>
											<tr>
												<th>제품번호</th>
												<th>제품명</th>
												<th>회사명</th>
												<th>분류</th>
												<th>재고수량</th>
												<th>추가재고</th>
												<th>입력</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="plist : ${ProductList}">
													<td class="fc88" th:text=${plist.productNo}></td>
													<td class="ta_l" th:text=${plist.productTitle}></td>
													<td class="fc88" th:text=${plist.productBrand}>맛있닭</td>
													<td th:text=${plist.productInfo}></td>
													<td th:text=${plist.productStock}></td>
													<form action="/admin/pLPopupSu" method="post">
														<td><input type="number" name="productStock" style="border: 1px solid black; width: 100px;"></td>
														<td>
															<button type="submit" class="btn btnSizeS btnColorW btnTypeB" style="width: 100px;">
																<span>입고</span>
															</button>
														</td>
														<input type="hidden" name="productNo" th:value="${plist.productNo}">
													</form>
											</tr>

										</tbody>
									</table>

									<div class="paging mgt50"
										th:with="prev=${pi.page - 1}, next=${pi.page + 1}">
										<a th:href="@{/admin/inventoryList(page=1)}" class="first"><span
											class="hide">첫페이지</span></a> <a class="prev"
											href="/admin/inventoryList?page="
											th:attrappend="href=${prev}"><span class="hide">이전페이지</span></a>
										<a
											th:each="page : ${#numbers.sequence(pi.startPage, pi.endPage)}"
											href="/admin/inventoryList?page="
											th:attrappend="href=${page}" th:text="${page}"
											th:classappend="${page} == ${#httpServletRequest.getParameter('page')} ? active"></a>
										<a class="next" href="/admin/inventoryList?page="
											th:attrappend="href=${next}"><span class="hide">다음페이지</span></a>
										<a href="/admin/inventoryList?page="
											th:attrappend="href=${pi.maxPage}" class="last"><span
											class="hide">마지막페이지</span></a>
									</div>

								</div>

							</div>
						</div>
						<!-- //myPageCon -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- //container -->
	<!-- 스크립트 -->
	<th:block th:replace="common/script.html"></th:block>
	<!--// 스크립트 -->
	<!-- FOOTER -->
	<th:block th:replace="common/footer.html"></th:block>
	<!--// FOOTER -->


	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript">
		$('#quick .quickArea').css({
			'position' : 'absolute',
			'top' : 290
		});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>