<!doctype html>
<html lang="ko">
<head>
<title></title>
<meta name="title" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no, email=no">

<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:site_name" content="">
<meta property="og:image" content="">

<link rel="shortcut icon" href="">
<link rel="apple-touch-icon" sizes="180x180" href="">
<link rel="icon" type="image/png" sizes="32x32" href="">
<link rel="icon" type="image/png" sizes="16x16" href="">
<link rel="manifest" href="">
<link rel="mask-icon" href="" color="">
<meta name="msapplication-TileColor" content="">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="./resources/web/css/fonts.css">
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
<div id="wrap" class="main">
<!-- HEADER + GNB -->
<th:block th:replace="common/header.html"></th:block>
<!--// HEADER + GNB -->

	<!-- container -->
	
	<div id="container" class="pdt0">
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<span><em>마이페이지</em></span>
            <em>고객의소리</em>
		</div>
		<div class="mypage">
			<div class="myMain myCon">
				<div class="contents">
					<!-- admin lnb -->
					<div th:replace="common/adminGnb.html"></div>
					<!-- //admin lnb -->

					<!-- myPageCon -->
					<div class="myPageCon member_sound_list">
						<p class="tit mgb40">
							고객의소리
						</p>
						<div class="tab-pannel" id="useableCoupon">                            
                            <div class="couponList tblBar mgt50">
                                <p class="tblList">총 <span th:text="${listCount}">1</span>개</p>
                            </div>
                            <div class="js_tblList">
                                <table class="tblType1" summary="">
                                    <caption></caption>
                                    <colgroup>
                                        <col width="15%" />
                                        <col width="15%" />
                                        <col width="*" />
                                        <col width="15%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>유형</th>
                                            <th>진행상태</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>등록일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>서비스 칭찬</td>
                                            <td><span class="gr">해결전</span></td>
                                            <td><a href="#" class="js_ListTtl ListTtl" onclick="showLayer('memberSoundDetail');">리뉴얼한 홈페이지 너무 좋아요!</a></td>
                                            <td>chusik</td>
                                            <td>2021-12-01</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="paging mgt50">
                                    <a href="#" class="first"><span class="hide">첫페이지</span></a>
                                    <a href="#" class="prev"><span class="hide">이전페이지</span></a>
                                    <a href="#">1</a>
                                    <a href="#" class="active">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">7</a>
                                    <a href="#">8</a>
                                    <a href="#">9</a>
                                    <a href="#">10</a>
                                    <a href="#" class="next"><span class="hide">다음페이지</span></a>
                                    <a href="#" class="last"><span class="hide">마지막페이지</span></a>
                                </div>
                            </div>
                            <!-- 데이터 없을 때 -->
                            <div class="noData">
                                <span>고객의 소리가 없습니다.</span>
                            </div>
                        </div>
                    </div>
					<!-- //myPageCon -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
	<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	<!-- 고객의 소리 상세 팝업 -->
<div id="memberSoundDetail" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">리뷰 상세/수정</div>
            <div class="lyBody">
                <div class="form_area">
                    <dl>
                        <dt>유형</dt>
                        <dd class="fc88">
                           서비스 칭찬
                        </dd>
                    </dl>
                    <dl>
                        <dt>내용</dt>
                        <dd>
							<div class="inp_wrap">
								<div class="inp_textArea disabled">
									<textarea rows="10">정말정말 맛있어요!!!</textarea>
									<div class="textarea-clone"></div>
								</div>
							</div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>진행상황</dt>
                        <dd>
							<div class="inp_select">
								<div class="selectBox">
									<button class="title" type="button">해결전</button>
									<ul class="selList">
										<li>
											<input type="radio" value="" class="option" id="select1_1" name="select1">
											<label for="select1_1">해결전</label>
										</li>
                                        <li>
											<input type="radio" value="" class="option" id="select1_1" name="select1">
											<label for="select1_1">해결완료</label>
										</li>
									</ul>
								</div>
							</div>
                        </dd>
                    </dl>                   
                </div>
                <div class="btn_wrap length2">
                    <a href="#" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>수정</span></a>
                    <a href="#" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>