<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->
			
		<!-- container -->	
		<div id="container" class="pdt0">
			<div class="site_location">
				<span><a href="/">HOME</a></span>
				<span><a href="/">마이페이지</a></span>
				<em>추천 상품 관리</em>
			</div>
			<div class="mypage">
				<div class="myWish myCon">
					<div class="contents">
						<th:block th:replace="common/mypageGnb.html"></th:block>
						<!-- myPageCon -->
						<div class="myPageCon">
							<p class="tit mgb40">
								추천 상품 관리
							</p>
							<div class="pdtWishBar">
								<span class="inp_check allChk">
									<input type="checkbox" name="inp_check1" id="inp_check1">
									<label for="inp_check1">전체선택</label>
								</span>
								<div class="btn_wrap">
									<a href="javascript:void(0)" onclick="showLayer('pdtSearch');" class="basketBtn btn btnSizeS btnColorW btnTypeB"><span>제품찾기</span></a>
									<a href="javascript:void(0)" onclick="showLayer('recoDel');" class="wishBtn btn btnSizeS btnColorW btnTypeB"><span>삭제하기</span></a>
								</div>
							</div>
							<div class="pdt_list1 type02 mgt60" th:if="${recoCount != 0}">
								<ul class="list_box">
									<li th:each="list : ${recoList}">
										<div class="pdtImg">
											<a th:href="|javascript:selectReco(${list.productNo});|" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
										</div>
										<div class="pdtTxt">
											<p class="pdtHead" style="color:#4f8ffa;" th:text="@{랭킹 }+${list.productRank}"></p>
											<p class="pdtName"><a href="#">제품명제품명제품명제품명제품명</a></p>
											<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
											<div class="pdtReview">
												<div class="js_rating ratingS"><span>4.5</span></div>
												4.5 <span class="count">(리뷰 18)</span>
											</div>
										</div>
										<span class="inp_check OtPdtCheckBox">
											<input type="checkbox" name="inp_check1" th:id="@{inp_check1_}+${list.productNo}" th:value="${list.productNo}">
											<label th:for="@{inp_check1_}+${list.productNo}"></label>
											<input type="hidden" name="productRank" th:id="@{inp_check1_}+${list.productRank}" th:value="${list.productRank}">
										</span>
									</li>
								</ul>
							</div>
							<div th:unless="${recoCount != 0}">
								<div class="noData">
									<span>등록된 내용이 없습니다.<br>지금 바로 등록 해보세요.</span>
								</div>
							</div>
						</div>
						<!-- //myPageCon -->
					</div>
				</div>
			</div>
		</div>
		<!-- //container -->
		
		<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':290});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->

<!-- 제품 찾기 -->
<div id="pdtSearch" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">제품 찾기</div>
            <div class="lyBody">
                <div class="listBox">
                    <ul class="vScroll" th:if="${pdt != 0}">
                        <li th:each="pdt:${pdtList}" th:classappend="${pdt.productRank} == 0 ? noRank : isRank">
                        	<a href="javascript:void(0);" th:onclick="|selectPdt('${pdt.productNo}');|">
                        		<img src="/images/temp/pdt03.png" alt="">
                        	</a>
                        	<p>
                        		<span th:text="${pdt.productBrand}"></span>
                        		[[${pdt.productTitle}]]
                        	</p>
                        </li>
                    </ul>
                    <div class="noData" th:if="${pdt == 0}">
                        <span>결과가 없습니다.</span>
                    </div>
                    <span>총 <span class="fcRed" th:text="${listCount}">10</span>개</span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
	.pNo{height:50px;line-height:50px;}
	.isRank{background:#f8f8f8;}
</style>
<script>
	function selectPdt(val){
		var sendData = {"productNo":val};
		$.ajax({
			url : "/reco/detail",
			method : "POST",
			data : sendData,
			success : function(data){
				if(data.productRank == 0){
					showLayer('optSelect');
					if($("#optSelect .pNo")){
						$("#optSelect .pNo").remove();
						$("#optSelect input[name=recoRank]").val('');
					}
					let html = '';
					html = '<div class="pNo">'
						 + data.productNo
						 + '번 제품'
						 + '<input type="hidden" name="pdtNo" id="pdtNo" value="'
						 + data.productNo
						 + '"/>'
						 + '</div>';
					$("#optSelect .lyBody").prepend(html);
				}else{
					alert("이미 순서가 지정되어 있습니다.");
				}
			},
			error: function(e){
				console.log(e);
			}
		});
	}
	function insertReco(){
		let productNo = $("#optSelect input[name=pdtNo]").val();
		let productRank = $("#optSelect input[name=recoRank]").val();
		$.ajax({
			url : "/reco/insert",
			method : "POST",
			data : {
				"productNo" : productNo,
				"productRank" : productRank
			},
			success : function(result){
				console.log(result);
				if(result == "1"){
					alert("성공적으로 적용되었습니다.");
					location.reload();
				}else{
					alert("업데이트가 되지 않았습니다ㅜㅜ");
				}
			},
			error : function(e){
				console.log(e);
			}
		});
	}
	
	function selectReco(val){
		var sendData = {"productNo":val};
		$.ajax({
			url : "/reco/select",
			method : "POST",
			data : sendData,
			success : function(data){
				showLayer('optChange');
				if($("#optChange .pNo")){
					$("#optChange .pNo").remove();
					$("#optChange input[name=recoRank]").val('');
				}
				let html = '';
				html = '<div class="pNo">'
					 + data.productNo
					 + '번 제품'
					 + '<input type="hidden" name="pdtNo" id="pdtNo" value="'
					 + data.productNo
					 + '"/>'
					 + '</div>';
				$("#optChange .lyBody").prepend(html);
				$("#optChange input[name=recoRank]").val(data.productRank);
			},
			error: function(e){
				console.log(e);
			}
		});
	}
	
	function modifyReco(){
		let productNo = $("#optChange input[name=pdtNo]").val();
		let productRank = $("#optChange input[name=recoRank]").val();
		console.log(productNo, productRank);
		$.ajax({
			url : "/reco/modify",
			method : "POST",
			data : {
				"productNo" : productNo,
				"productRank" : productRank
			},
			success : function(result){
				if(result == "1"){
					alert("성공적으로 적용되었습니다.");
					location.reload();
				}else{
					alert("업데이트가 되지 않았습니다ㅜㅜ");
				}
			},
			error : function(e){
				console.log(e);
			}
		});
	}

	function deleteReco(){
		let addList = [], data = {};
		let chk = $('.checked:not(.allChk) input[name="inp_check1"]:checked');		
		let chkLength = chk.length;	// 체크된 갯수
		
		if(chkLength >= 1){
			for(var i = 0; i < chkLength; i++){
				addList[i] = chk[i].value;
			    data.addList = addList;		// 체크된 값 배열에 담기
			}
			console.log(data);			// 배열에 담긴 값
			$.ajax({
				url : "/reco/delete",
				dataType : "JSON",
				data : data,
				type : "POST",
				traditional : true,		// 배열로 값 넘길때 필요한 선언
				success : function(data){
					console.log(data);
					if(chkLength == data){
						location.reload();
					}else{
						alert('실패');
					}
				},
				error : function(e){
					console.log(e);
				}
			});
		}else{
			alert('선택된 값이 없습니다.');
		}
	}
</script>
<!-- 추천상품 순서추가 -->
<div id="optSelect" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">순서 추가</div>
            <div class="lyBody">
                <div class="inp_wrap">
					<div class="inp_text">
						<input type="text" name="recoRank" id="recoRank" placeholder="순서를 입력해주세요">
						<button class="btn_clear"><span>clear</span></button>
					</div>
					<p class="error">잘못 입력했습니다</p>
				</div>
                <div class="btn_wrap length2">
                    <a href="javascript:void(0);" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
                    <a href="javascript:void(0);" onclick="insertReco();" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 추천상품 순서변경 -->
<div id="optChange" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">순서 추가</div>
            <div class="lyBody">
                <div class="inp_wrap">
					<div class="inp_text">
						<input type="text" name="recoRank" id="recoRank" placeholder="순서를 입력해주세요">
						<button class="btn_clear"><span>clear</span></button>
					</div>
					<p class="error">잘못 입력했습니다</p>
				</div>
                <div class="btn_wrap length2">
                    <a href="javascript:void(0);" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
                    <a href="javascript:void(0);" onclick="modifyReco();" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 추천상품 삭제 -->
<div id="recoDel" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">추천 상품 삭제</div>
            <div class="lyBody basic">
                <p>선택하신 상품을 정말 삭제하시겠습니까?</p>
                <div class="btn_wrap length2">
                    <a href="javascript:void(0);" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
                    <a href="javascript:void(0);" onclick="deleteReco();" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).on('click', '.inp_check label', function (){
	if ($(this).parent().hasClass('readOnly')){return false;}
	if ($(this).parent().hasClass('disabled')){return false;}
	
	var tar = $(this).parent().find('input');
	var chk = tar.prop('checked');
	var grpNm = tar.attr('name');


	if ($(this).parent('.inp_check').hasClass('allChk')){
		var chkStatus = tar.prop('checked');
		$("input:checkbox[name=" + grpNm + "]").each(function() {
			if (chkStatus) {
				$(this).closest(".inp_check").removeClass("checked");
				$(this).prop("checked",false);
			} else {
				$(this).closest(".inp_check").addClass("checked");
				$(this).prop("checked",true);
			}
		});
	} else {
		if ($(this).parent().hasClass('checked')) {
			$("input:checkbox[name=" + grpNm + "]").each(function() {
				$(this).closest('.inp_check.allChk').removeClass('checked');;
				$(this).closest('.inp_check.allChk input').prop("checked",false);
			});
			$(this).parent().removeClass('checked');				
			if($(this).attr('for') == 'remember'){
				deleteCookie("rememberId");
			}
			tar.prop("checked",false);
		} else {
			$(this).parent().addClass('checked');				
			if($(this).attr('for') == 'remember'){
				setCookie("rememberId", userId.value, 7);
			}
			tar.prop("checked",true);
		}
	}
	console.log(tar.prop('checked'));
	return false;
});
</script>
</body>
</html>