<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<div align="right">
		<!-- isAuthenticated() : 인증 되어 있는지 확인 (로그인 여부) -->
		<th:block sec:authorize="isAuthenticated()">
			<h3><span sec:authentication="principal.userName"></span>님 환영합니다. (로그인 확인용-임시)</h3>
		</th:block>
		</div>
		<!--// HEADER + GNB -->
	
		<!-- container -->
		<div id="container" class="pdt0 pdb0">
			<div class="main">
				<div class="mainVisual" th:if="${bannerSize} > 0">
					<div class="visualRoll">
						<div class="jsVisualRoll">
							<div th:each="banner : ${bannerList}">
								<a th:href="${banner.main_url}"><img th:src="${banner.file_path}+${banner.change_file}" /></a>
							</div>
						</div>
						<div class="indicator">
							<span class="nowNum">01</span>
							<div><em></em></div>
							<span class="maxNum">03</span>
							<button type="button"><em class="hide">PLAY / STOP</em></button>
						</div>
						<button class="btnPrev" onclick="$('.jsVisualRoll').slick('slickPrev')"><span class="hide">이전</span></button>
						<button class="btnNext" onclick="$('.jsVisualRoll').slick('slickNext')"><span class="hide">다음</span></button>
					</div>
					<div class="visualBtn">
						<div class="jsVisualBtn">							
							<div th:each="banner : ${bannerList}">
								<p th:text="${banner.main_name}"></p>
							</div>
						</div>
					</div>
				</div>
	
				<!-- 트레이너 -->
				<div class="mainReco mainPt">
					<div class="contents">
						<p class="mainTit">
							<em>전문 트레이너</em><span>내 주변 실력있는 트레이너를 찾아보세요🔥</span>
							<i class="btn_tit"><a href="/trainer/">+ 전체보기</a></i>
						</p>
						<div class="pdt_list1">
							<div class="list_box">
								<div class="pdtCon" th:each="train : ${trainList}">
									<div class="pdtImg">
										<ul class="pdt_type">
											<li class="bg_p">NEW</li>
											<li class="bg_p">BEST</li>
										</ul>
										<a th:href="|/trainer/detail?tNo=${train.tNo}|" class="imgLink"><img th:src="${train.file_path}+${train.change_file2}" alt=""></a>
									</div>
									<div class="pdtTxt">
										<p class="pdtHead" style="color:#4f8ffa;" th:text="${train.tOneIntro}">한줄소개 나오는 곳</p>
										<p class="pdtBrand" th:text="${train.member.userName}">PT쌤 이름</p>
										<p class="pdtName" th:text="${train.tIntro}">선생님 소개 나오는 곳</p>
										<p class="pdtPrice" th:text="${#numbers.formatInteger(train.tPrice, 0, 'COMMA')+'원'}"></p>
										<div class="pdtReview">
											<div class="js_rating ratingS"><span><th:block data-th-text="${train.avgStar}"></th:block></span></div>
											<th:block data-th-text="${train.avgStar}"></th:block> <span class="count">(리뷰 <th:block data-th-text="${train.sumReview}"></th:block>)</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<!-- 제품 추천 -->
				<div class="mainReco" th:if="${recoCount != 0}">
					<div class="contents">
						<p class="mainTit">
							<em>MD 추천 상품</em><span>✨✨ 헬스Dao에서 추천하는 EAT 템 ✨✨</span>
							<i class="btn_tit"><a href="/shopping/newProduct?page=1">+ 전체보기</a></i>
						</p>
						<div class="pdt_list1">
							<button class="set-arrow set-prev" type="button">Previous</button>
							<div class="list_box">
								<div class="pdtCon" th:each="reco : ${recoList}">
									<div class="pdtImg">
										<ul class="pdt_type">
											<li class="bg_p">NEW</li>
											<li class="bg_p">BEST</li>
										</ul>
										<a th:href="|/shopping/detail?productNo=${reco.productNo}|" class="imgLink"><img src="/images/temp/pdt01.png" alt=""></a>
									</div>
									<div class="pdtTxt">
										<p class="pdtHead" style="color:#4f8ffa;" th:text="${reco.productBenefit}"></p>
										<p class="pdtBrand" th:text="${reco.productBrand}"></p>
										<p class="pdtName" th:text="${reco.productTitle}"></p>
										<p class="pdtPrice" th:text="${#numbers.formatInteger(reco.productPrice, 0, 'COMMA')+'원'}"></p>
										<div class="pdtReview">
											<div class="js_rating ratingS"><span>4.5</span></div>
											4.5 <span class="count">(리뷰 18)</span>
										</div>
									</div>
				                    <a href="javascript:void(0);" th:onclick="|javascript:addWish('${reco.productNo}')|" th:id="pdtNo_+${reco.productNo}" class="btn_like likeM"><span class="hide">찜하기</span></a>
				                    <a href="javascript:void(0);" th:onclick="|javascript:cartInsert('${reco.productNo}')|" class="btn_cart cartM"><span>장바구니</span></a>
								</div>
							</div>
							<button class="set-arrow set-next" type="button">Next</button>
						</div>
					</div>
				</div>
			</div>
			<div class="mainTrust">
				<div class="contents">
					<ul>
						<li>
							<div>
								<em>SECURITY<br> CODE</em>
								<span>100% 정품</span><br>
								믿고 구매할 수 있는 본사 운영 공식몰
							</div>
						</li>
						<li>
							<div>
								<em>DELIVERY<br> SERVICE</em>
								<span>우체국 택배</span><br>
								신속! 안전! 만족도 높은 배송
							</div>
						</li>
						<li>
							<div>
								<em>EXP<br> (Expiry date)</em>
								<span>유통기한 걱정 NO</span><br>
								철저한 관리, 최신제품만 판매
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //container -->
		
		<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script type="text/javascript" src="../../js/main.js"></script>
	<script type="text/javascript" src="../../js/eunjung.js"></script>
	<script type="text/javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':936});
		mainStart();
		mainVisual();
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>