<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->

		<!-- container -->

		<div id="container" class="pdt0">
			<div class="site_location">
				<span><a href="/">HOME</a></span> <em>마이페이지</em>
			</div>
			<div class="mypage">
				<div class="myMain myCon">
					<div class="contents">
						<!-- mypage lnb -->
						<div th:replace="common/mypageGnb.html"></div>
						<!-- //mypage lnb -->

						<!-- myPageCon -->
						<div class="myPageCon">
							<p class="atten1">
								<img class="a_check" src="/images/point/A_check.png">
							</p>
							<div class="attCheckContArea">
								<p>
									이준우님 반가워요,<br>이번달 출석체크 현황입니다 :)
								</p>
								<dl class="dayCount">
									<dt>나의 출석 일수</dt>
									<dd>
										<em>10</em>회
									</dd>
								</dl>
								<dl class="couponCount">
									<dt>
										지금은<a href="javascript:boid()"
											onclick="showLayer('AttCheckMyCoupon');"><span
											class="hide">쿠폰보기</span></a>
									</dt>
									<dd>
										<em
											th:text="${#calendars.format(#calendars.createNow(), 'MM')}"></em>월
									</dd>
								</dl>
							</div>


							<div class="attenCheckOutline">
								<ul class="atten2_check_list">
									<li>
										<div class="today">
											<em class="n">일</em><br> <em class="d"></em>
										</div>
									</li>
									<li>
										<div class="today">
											<em class="n">월</em><br> <em class="d"></em>
										</div>
									</li>
									<li>
										<div class="today">
											<em class="n">화</em><br> <em class="d"></em>
										</div>
									</li>
									<li>
										<div class="today">
											<em class="n">수</em><br> <em class="d"></em>
										</div>
									</li>
									<li>
										<div class="today">
											<em class="n">목</em><br> <em class="d"></em>
										</div>
									</li>
									<li>
										<div class="today">
											<em class="n">금</em><br> <em class="d"></em>
										</div>
									</li>
									<li>
										<div class="today">
											<em class="n">토</em><br> <em class="d"></em>
										</div>
									</li>
									<li th:each="notDate : ${#numbers.sequence(26,31)}">
										<div class="today">
											<em class="no" th:text="${notDate}"></em><br> <em
												class="do">DAY</em>
										</div>
									</li>
									<li class="todayOutline" th:each="date : ${#numbers.sequence(1,31)}" >
										<div class="yhheart" th:if="${#lists.contains(dateArr, date)}">
											<img class="heart1" src="/images/point/heart.png">
										</div> 
										<div class="today">
											<em class="n" th:text="${date}" th:id="'n' + ${date}"></em><br> <em class="d">DAY</em>
										</div>
										<button class="btnClass" th:id="'attBtn' + ${date}"
												th:value="${date}">
												<img class="heart" src="/images/point/heart.png">
										</button>
									</li>
								</ul>
							</div>

						</div>
						<!-- //myPageCon -->
					</div>
				</div>
			</div>
		</div>
	</div>
	 <input type="hidden" id="inputuId"
		th:value="${#authentication.principal.userNo}"> 

	<!-- //container -->

	<!-- 스크립트 -->
	<th:block th:replace="common/script.html"></th:block>
	<!--// 스크립트 -->
	<!-- FOOTER -->
	<th:block th:replace="common/footer.html"></th:block>
	<!--// FOOTER -->
	</div>

	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':290});
		
		
		 
		 
		
	</script>

	<script th:inline="javascript"> 
 	
   		$(function(){
   			$(".btnClass").on('click', function(){
   				
   				let param = {};
   				param.btnValue = $(this).val();
   				// console.log(param);
   				var attendanceDate = new Date();
   				attendanceDate.setDate(param.btnValue);
   				// console.log(attendanceDate);
   				var userNo = document.getElementById("inputuId").value;
   				// console.log(userNo);
   				var result = {"attendanceDate" : attendanceDate, "userNo" : userNo};
   				$.ajax({
   					url : "/mypage/attCheck",
   					data : result,
   					type : "post",
   					success : function(data){
   						alert(data);
   						
   					},
   					error : function(e){
   						console.log(e)
   					}
   				
   				});    	
   			});

   		})
   </script>
   <script type="text/javascript">
	   var now = new Date();	
	   var date = now.getDate();
	   
	   for(var i = 0; i < 32; i++){
		   var rate = $(".btnClass").val([i]);
		   console.log(rate);
		   
		   if(date==15){
			   $('.today').css('bakcground','red');
		   }
	   }

   </script>
   

	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>