<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->

	<!-- container -->
	<div id="container" class="pdt0">
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<em>마이페이지</em>
		</div>
		<div class="mypage myPageDeliMf">
			<div class="myMain myCon">
				<div class="contents">
					<!-- mypage lnb -->
					<th:block th:replace="common/mypageGnb.html"></th:block>
					<!-- //mypage lnb -->

					<!-- myPageCon -->
					<div class="myPageCon">
						<p class="tit mgb40">
							배송지 관리
						</p>
						<!-- //myPageDeliMf tab -->
						<div class="tblBar mgt50">
							<div class="inp_wrap">
								<div class="btn_wrap">
									<a onclick="showLayer('deliInsert');" class="btn btnArr btnSizeL btnColorW btnTypeB" style="width:200px;"><span>신규 배송지 추가</span></a>				
								</div>
							</div>
						</div>
						<div class="js_tblList">
							<table class="tblType1" summary="">
								<caption></caption>
								<colgroup>
									<col width="50px"></col>
									<col width="60px"></col>
									<col width="120px"></col>
									<col width="70px"></col>
									<col width="50px"></col>
								</colgroup>
								<thead>
									<tr>
										<th>선택</th>
										<th>받으실 분</th>
										<th>배송주소</th>
										<th>연락처</th>
										<th>관리</th>
									</tr>
								</thead>
								<tbody id="deliList">
									<tr th:each="address, i : ${addressList}">
										<td style="display:none;"><input type="hidden" name="addressNo" th:value="${address.addressNo}"></td>
										<td class="fc22">
											<span class="inp_radio">
												<th:block th:if="${address.defAddress == 'Y'}">
												<input type="radio" name="defAddress" th:id="'inp_radio1_'+${i.index+1}" checked>
												<label th:for="'inp_radio1_'+${i.index+1}"></label>
												</th:block>
												<th:block th:if="${address.defAddress == 'N'}">
												<input type="radio" name="defAddress" th:id="'inp_radio1_'+${i.index+1}">
												<label th:for="'inp_radio1_'+${i.index+1}"></label>
												</th:block>
											</span>
										</td>
										<td class="fc22" id="deliName" th:text="${address.receiver}"></td>
										<td class="fc22" id="deliAddress" th:text="${address.address}"></td>
										<td class="fc22" id="deliPhone" th:text="${address.recPhone}"></td>
										<td>
											<a onclick="showLayer('deliRegister');" href="javascript:void(0)" class="btn btnSizeS btnColorG btnTypeB btnMf" style="width:70px;"><span>수정</span></a>
											<div style="height: 12px;"></div>
											<a onclick="" href="javascript:void(0)" class="btn btnSizeS btnColorG btnTypeB btnDt" style="width:70px;"><span>삭제</span></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="mgt30 alct">
							<div class="inp_wrap">
								<div class="btn_wrap">
									<a href="#" class="btn btnArr btnSizeL btnColorB btnTypeB" style="width:200px;"><span>기본배송지로 설정</span></a>
								</div>
							</div>
						</div>
					</div>
					<!-- //myPageCon -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->

		<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<!-- <th:block th:replace="common/quickNtalk.html"></th:block> -->
	<!--// 퀵메뉴 + 톡톡 -->
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script type="text/javascript" src="../../js/main.js"></script>
	<script type="text/javascript" src="../../js/eunjung.js"></script>
	<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
	<script type="text/javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':290});
		mainStart();
		mainVisual();
		
		$(function() { $("#postcodify_search_button").postcodifyPopUp(); });
	</script>
	<script>
		$(function(){
			$("#deliInsertForm .addInsBtn").on('click', function(){
				let param = {};
				param.receiver = $("#deliInsertForm [name=receiver]").val();
				param.address = "(" + $("#deliInsertForm [name=address1]").val() + ")";
				param.address += " " + $("#deliInsertForm [name=address2]").val();
				param.address += " " + $("#deliInsertForm [name=address3]").val();
				param.recPhone = $("#deliInsertForm [name=recPhone]").val();
				param.defAddress = $("#deliInsertForm [name=defAddress]").val();
				
				$.ajax({
					url : "/mypage/deli/insert",
					data : JSON.stringify(param),
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					type : "post",
					success : function(data) {
						alert(data.msg);
						
					},
					error : function(e) {
						console.log(e);
					}
				});
			});
			
			$("#deliList .btnMf").on('click', function(){
				let addressNo = $("#deliList [name=addressNo]").val();
				
				$.ajax({
					url : "/mypage/deli/" + addressNo,
					data : JSON.stringify(param),
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					type : "post",
					success : function(data) {
						let form = $("#deliUpdateForm");
						
						form.find("[name=receiver]").val(data.receiver);
						/* form.find("[name=address1]").val();
						form.find("[name=address2]").val();
						form.find("[name=address3]").val(); */
						form.find("[name=recPhone]").val(data.recPhone);
						if(form.find("[name=defAddress]").val('Y')) {
							form.find("[name=defAddress]").prop("checked", true);
						}
					},
					error : function(e) {
						console.log(e);
					}
				});
			});
			
			$("#deliList .btnDt").on('click', function(){
				let addressNo = $("#deliList [name=addressNo]").val();
				
				$.ajax({
					url : "/mypage/deli/delete" + addressNo,
					data : JSON.stringify(param),
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					type : "post",
					success : function(data) {
						alert(data.msg);
					},
					error : function(e) {
						console.log(e);
					}
				});
			});
		});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	
	<!-- 배송지 등록 -->
	<div id="deliInsert" class="lyPopArea">
		<div class="lyPop">
			<div class="lyWrap">
				<button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
				<div class="lyTit">배송지 등록</div>
				<div class="lyBody">
					<form id="deliInsertForm">
					<div class="form_area">
						<dl>
							<dt><label for="deliRegName"><span class="fcRed">*</span>받는 분</label></dt>
							<dd>
								<div class="inp_text sizeS">
									<input type="text" name="receiver" id="deliRegName" required>
								</div>
							</dd>
						</dl>
						<dl>
							<dt><span class="fcRed">*</span>주소</dt>
							<dd>
								<div class="inp_wrap inp_post">
									<div class="inp_text sizeS post_num">
										<input type="text" name="address1" id="join_post" class="postcodify_postcode5" readonly="" disabled>
									</div>
									<a id="postcodify_search_button" class="btn btnSizeM btnColorB btnTypeB"><span>우편번호 찾기</span></a>
									<div class="inp_text sizeS mgt10">
										<input type="text" name="address2" title="기본주소" class="postcodify_address" readonly="" disabled>
									</div>
								</div>
								<div class="inp_wrap">
									<div class="inp_text sizeS mgt10">
										<input type="text" name="address3" title="상세주소" class="postcodify_details" required>
									</div>
								</div>
							</dd>
						</dl>
						<dl>
							<dt><label for="deliRegHphone"><span class="fcRed">*</span>휴대전화</label></dt>
							<dd>
								<div class="inp_text sizeS">
									<input type="text" name="recPhone" id="deliRegHphone" required>
								</div>
							</dd>
						</dl>
						<span class="inp_check deliRegFirst">
							<input type="checkbox" name="defAddress" id="deliRegFirst" value="Y">
							<label for="deliRegFirst"><span class="fc88">기본 배송지로 설정</span></label>
						</span>
					</div>
					<div class="btn_wrap length2">
						<a onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
						<button class="btn btnSizeL btnArr btnColorB btnTypeR addInsBtn"><span>확인</span></button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 배송지 수정 -->
	<div id="deliRegister" class="lyPopArea">
		<div class="lyPop">
			<div class="lyWrap">
				<button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
				<div class="lyTit">배송지 수정</div>
				<div class="lyBody">
					<form id="deliUpdateForm">
					<div class="form_area">
						<dl>
							<dt><label for="deliRegName"><span class="fcRed">*</span>받는 분</label></dt>
							<dd>
								<div class="inp_text sizeS">
									<input type="text" name="receiver" id="deliRegName" value="" required>
								</div>
							</dd>
						</dl>
						<dl>
							<dt><span class="fcRed">*</span>주소</dt>
							<dd>
								<div class="inp_wrap inp_post">
									<div class="inp_text sizeS post_num">
										<input type="text" name="address1" id="join_post" class="postcodify_postcode5" value="" readonly="" disabled>
									</div>
									<a id="postcodify_search_button" class="btn btnSizeM btnColorB btnTypeB"><span>우편번호 찾기</span></a>
									<div class="inp_text sizeS mgt10">
										<input type="text" name="address2" title="기본주소" class="postcodify_address" value="" readonly="" disabled>
									</div>
								</div>
								<div class="inp_wrap">
									<div class="inp_text sizeS mgt10">
										<input type="text" name="address3" title="상세주소" class="postcodify_details" value="" required>
									</div>
								</div>
							</dd>
						</dl>
						<dl>
							<dt><label for="deliRegHphone"><span class="fcRed">*</span>휴대전화</label></dt>
							<dd>
								<div class="inp_text sizeS">
									<input type="text" name="recPhone" id="deliRegHphone" value="" required>
								</div>
							</dd>
						</dl>
						<span class="inp_check deliRegFirst">
							<input type="checkbox" name="defAddress" id="deliRegFirst" value="Y">
							<label for="deliRegFirst"><span class="fc88">기본 배송지로 설정</span></label>
						</span>
					</div>
					<div class="btn_wrap length2">
						<a onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
						<button class="btn btnSizeL btnArr btnColorB btnTypeR addUpdBtn"><span>확인</span></button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>