<div th:replace="common/header.html"></div>
<!-- container -->
	
	<div id="container" class="pdt0">
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<em>마이페이지</em>
		</div>
		<div class="mypage">
			<div class="myMain myCon">
				<div class="contents">
					<div th:replace="common/mypageGnb.html"></div>

					<!-- myPageCon -->
					<div class="myPageCon">
						<p class="tit mgb40">
							주문내역
						</p>
						
						<div class="myOrderList mgt40">
							<ul class="list_box">
								<li>
									<div class="listT">
										<dl>
											<dt>주문일자</dt>
											<dd>2021.12.14</dd>
										</dl>
										<dl>
											<dt>주문번호</dt>
											<dd>1561594234165</dd>
										</dl>
										<a href="#">주문상세 확인하기</a>
									</div>
									<div class="listB">
										<ul class="list">
											<li>
												<div class="pdtImg"><a href="#"><img src="./resources/web/images/temp/pdt_img4.jpg" alt="pdt"></a></div>
												<div class="pdtTxt">
													<p class="pdtHead" style="color:#4f8ffa;">[이벤트] 아이라이너 전 제품 3개 구매 시 1개 무료 </p>
													<p class="pdtBrand">바닐라코</p>
													<p class="pdtName"><a href="#">아이크러쉬 디테일 아이라이너</a></p>
													<p class="pdtPrice">25,200<em>원 /</em> <em>수량 1개</em></p>
													<p class="pdtOpt">옵션 : BE01 밀크티 필터</p>
												</div>
											</li>
											<li>
												<div class="pdtImg"><a href="#"><img src="./resources/web/images/temp/pdt_img4.jpg" alt="pdt"></a></div>
												<div class="pdtTxt">
													<p class="pdtHead" style="color:#4f8ffa;">[이벤트] 아이라이너 전 제품 3개 구매 시 1개 무료 </p>
													<p class="pdtBrand">바닐라코</p>
													<p class="pdtName"><a href="#">아이크러쉬 디테일 아이라이너</a></p>
													<p class="pdtPrice">0<em>원 /</em> <em>수량 1개</em></p>
													<p class="pdtPrice"><span class="free">무료</span></p>
												</div>
											</li>
											
										</ul>
										<p class="state">배송완료</p>
										<div class="btnWrap">
											<a href="#" class="btn btnSizeS btnColorW btnTypeB"><span>반품신청</span></a>
											<a href="javascript:void(0)" onclick="showLayer('reViewWritePop');" class="btn btnSizeS btnColorB btnTypeB"><span>리뷰쓰기</span></a>
										</div>
									</div>
								</li>
								<li>
									<div class="listT">
										<dl>
											<dt>주문일자</dt>
											<dd>2021.12.05</dd>
										</dl>
										<dl>
											<dt>주문번호</dt>
											<dd>1561594234165</dd>
										</dl>
										<a href="#">주문상세 확인하기</a>
									</div>
									<div class="listB">
										<ul class="list">
											<li>
												<div class="pdtImg"><a href="#"><img src="./resources/web/images/temp/pdt_img4.jpg" alt="pdt"></a></div>
												<div class="pdtTxt">
													<p class="pdtHead" style="color:#4f8ffa;">[이벤트] 아이라이너 전 제품 3개 구매 시 1개 무료 </p>
													<p class="pdtBrand">바닐라코</p>
													<p class="pdtName"><a href="#">아이크러쉬 디테일 아이라이너</a></p>
													<p class="pdtPrice">25,200<em>원 /</em> <em>수량 1개</em></p>
													<p class="pdtOpt">옵션 : BE01 밀크티 필터</p>
												</div>
											</li>
										</ul>
										<p class="state">결제완료</p>
										<div class="btnWrap">
											<a href="#" class="btn btnSizeS btnColorW btnTypeB"><span>주문취소</span></a>
										</div>
									</div>
								</li>
								
								
								
								
								<li class="noData">
									<span>주문배송 조회 내역이 없습니다.</span>
								</li>
							</ul>
						</div>

						<div class="btn_wrap mgt40">
							<a class="btnMore btnSpin"><span>더보기<br><em>1 <u>/</u> <i>3</i></em></span></a>
						</div>

						<div class="myOrderStep orderType">
							<p class="tit">주문/배송 진행단계 안내</p>
							<div class="stepArea">
								<ol class="stepList">
									<li>
										<dl>
											<dt>입금대기</dt>
											<dd>가상계좌 결제후<br> 입금확인이 아직<br> 이뤄지지 않은<br> 단계입니다.</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>결제완료</dt>
											<dd>주문정보를 확인하기<br> 전 단계입니다.</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>상품준비중</dt>
											<dd>주문정보를 확인하고<br> 배송을 준비중입니다.</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>배송중</dt>
											<dd>주문상품이 발송되어<br> 고객님께 배송중입니다.</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>배송완료</dt>
											<dd>상품수령후 구매확정을<br> 선택하시면<br> 거래가 종료됩니다.</dd>
										</dl>
									</li>
									<li>
										<dl>
											<dt>구매확정</dt>
											<dd>리뷰작성시 포인트를<br> 적립해 드립니다.</dd>
										</dl>
									</li>
								</ol>
								<ul class="stepInfo">
									<li>배송지 변경 가능<br> 주문 취소 가능</li>
									<li>주문취소 불가</li>
									<li>교환신청 가능<br> 반품신청 가능</li>
									<li>리뷰작성 가능 <span>(*구매확정 이후<br> 60일이내)</span></li>
								</ul>
							</div>
							<ul class="dotInfo mgt15">
								<li><span class="fc22">[입금대기]</span> 상태의 주먼건은 주문일 기준 <span class="fc22">3일간 보관되며 이후 자동 취소 처리</span> 됩니다.</li>
								<li>제품을 수령하신 후 이상이 없을 경우 [구매확정] 처리를 진행해주세요.</li>
								<li><span class="fc22">[배송완료] 7일 이후</span>에는 <span class="fc22">자동으로 [구매확정]</span> 처리가 됩니다.</li>
								<li><span class="fc22">[구매확정] 이후에는 교환/반품 신청이 불가</span>능합니다.</li>
								<li>교환/반품 진행 중인 상품이 포함된 주문의 경우, <span class="fc22">교환/반품이 완료된 후 [구매확정]이 가능</span>합니다.</li>
								<li>멤버십 등급 산정 시에도 실 결제금액 기준으로 반영되며 포인트 결제금액, 배송비, 반품금액은 제외됩니다.</li>
							</ul>
						</div>
					</div>
					<!-- //myPageCon -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
<div th:replace="common/footer.html"></div>
</body>
</html>