<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
<div id="wrap" class="main">
<!-- HEADER + GNB -->
<th:block th:replace="common/header.html"></th:block>
<!--// HEADER + GNB -->
<!-- container -->
	
	<div id="container" class="pdt0">
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<em>마이페이지</em>
		</div>
		<div class="mypage">
			<div class="myWish myCon">
				<div class="contents">
					<div th:replace="common/mypageGnb.html"></div>

					<!-- myPageCon -->
					<div class="myPageCon">
						<p class="tit mgb40">
							찜한 상품
						</p>
						<!-- 위시리스트가 있을때 -->
						<div class="pdtWishBar">
							<span class="inp_check allChk">
								<input type="checkbox" name="inp_check1" id="inp_check1">
								<label for="inp_check1">전체선택</label>
							</span>
							<div class="btn_wrap">
								<a href="javascript:void(0)" onclick="showLayer('myWishDel');" class="wishBtn btn btnSizeS btnColorW btnTypeB"><span>삭제하기</span></a>
							</div>
						</div>
						<div class="pdt_list1 type02 mgt60" th:if="${wishListCount != 0}">
							<ul class="list_box">
								<li th:each="list : ${wishList}">
									<div class="pdtImg">
										<a th:href="|/shopping/detail?productNo=${list.productNo}|" class="imgLink"><img th:src="${list.file_path}+${list.change_file1}" alt=""></a>
									</div>
									<div class="pdtTxt">
										<p class="pdtHead" style="color:#4f8ffa;" th:text="${list.productBenefit}"></p>
										<p class="pdtBrand" th:text="${list.productBrand}"></p>
										<p class="pdtName" th:text="${list.productTitle}"></p>
										<p class="pdtPrice" th:text="${#numbers.formatInteger(list.productPrice, 0, 'COMMA')+'원'}"></p>
										<div class="pdtReview">
											<div class="js_rating ratingS"><span>4.5</span></div>
											4.5 <span class="count">(리뷰 18)</span>
										</div>
									</div>
									<span class="inp_check OtPdtCheckBox">
										<input type="checkbox" name="inp_check1" class="js_checkbox" th:id="@{inp_check1_}+${list.productNo}" th:value="${list.productNo}">
										<label th:for="@{inp_check1_}+${list.productNo}"></label>
									</span>
				                    <a href="javascript:void(0);" th:onclick="|javascript:addWish('${list.productNo}')|" th:id="pdtNo_+${list.productNo}" class="btn_like likeM"><span class="hide">찜하기</span></a>
				                    <a href="javascript:void(0);" th:onclick="|javascript:cartInsert('${list.productNo}')|" class="btn_cart cartM"><span>장바구니</span></a>
								</li>
							</ul>
						</div>
						<div class="noWish" th:unless="${wishListCount != 0}">
							<p>위시리스트를 채워주세요!</p>
							<a href="/shopping/ranking/" class="btn_txt"><span>베스트 상품보러가기</span></a>
						</div>
					</div>
					<!-- //myPageCon -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
		<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script  th:inline="javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':290});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->

<!-- 찜한 상품 삭제 -->
<div id="myWishDel" class="lyPopArea">
    <div class="lyPop">
        <div class="lyWrap">
            <button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
            <div class="lyTit">찜한 상품 삭제</div>
            <div class="lyBody basic">
                <p>선택하신 상품을 정말 삭제하시겠습니까?</p>
                <div class="btn_wrap length2">
                    <a href="javascript:void(0);" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
                    <a href="javascript:void(0);" onclick="deleteWish();" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	function deleteWish(){
		let addList = [], data = {};
		let chk = $('.checked:not(.allChk) input[name="inp_check1"]:checked');		
		let chkLength = chk.length;	// 체크된 갯수

		if(chkLength >= 1){
			for(var i = 0; i < chkLength; i++){
				addList[i] = chk[i].value;
			    data.addList = addList;		// 체크된 값 배열에 담기
			}
			console.log(data);			// 배열에 담긴 값
			$.ajax({
				url : "/deleteWish",
				dataType : "JSON",
				data : data,
				type : "POST",
				traditional : true,		// 배열로 값 넘길때 필요한 선언
				success : function(data){
					console.log(data);
					if(chkLength == data){
						location.reload();
					}else{
						alert('실패');
					}
				},
				error : function(e){
					console.log(e);
				}
			});
		}else{
			alert('선택된 값이 없습니다.');
		}
	}

	$(document).on('click', '.inp_check label', function (){
		if ($(this).parent().hasClass('readOnly')){return false;}
		if ($(this).parent().hasClass('disabled')){return false;}
		
		var tar = $(this).parent().find('input');
		var chk = tar.prop('checked');
		var grpNm = tar.attr('name');
	
	
		if ($(this).parent('.inp_check').hasClass('allChk')){
			var chkStatus = tar.prop('checked');
			$("input:checkbox[name=" + grpNm + "]").each(function() {
				if (chkStatus) {
					$(this).closest(".inp_check").removeClass("checked");
					$(this).prop("checked",false);
				} else {
					$(this).closest(".inp_check").addClass("checked");
					$(this).prop("checked",true);
				}
			});
		} else {
			if ($(this).parent().hasClass('checked')) {
				$("input:checkbox[name=" + grpNm + "]").each(function() {
					$(this).closest('.inp_check.allChk').removeClass('checked');;
					$(this).closest('.inp_check.allChk input').prop("checked",false);
				});
				$(this).parent().removeClass('checked');				
				if($(this).attr('for') == 'remember'){
					deleteCookie("rememberId");
				}
				tar.prop("checked",false);
			} else {
				$(this).parent().addClass('checked');				
				if($(this).attr('for') == 'remember'){
					setCookie("rememberId", userId.value, 7);
				}
				tar.prop("checked",true);
			}
		}
		console.log(tar.prop('checked'));
		return false;
	});
</script>
</body>
</html>