<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.healthDao.admin.model.dao.AdminMapper">
	<resultMap id="productResultMap" type="com.kh.healthDao.admin.model.vo.Product">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productBrand" column="PRODUCT_BRAND" />
		<result property="productTitle" column="PRODUCT_TITLE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productBenefit" column="PRODUCT_BENEFIT" />
		<result property="productNotice" column="PRODUCT_NOTICE" />
		<result property="productInfo" column="PRODUCT_INFO" />
		<result property="productView" column="PRODUCT_VIEW" />
		<result property="productStock" column="PRODUCT_STOCK" />
		<result property="CategoryId" column="CATEGORY_ID" />
		<result property="pMembership" column="P_MEMBERSHIP"/>
		
	</resultMap>
	
	<resultMap id="couponResultMap" type="com.kh.healthDao.admin.model.vo.Coupon">
		<id property="pNo" column="P_NO" />
		<result property="pName" column="P_NAME" />
		<result property="pSale" column="P_SALE" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
	</resultMap>
	
	<resultMap id="categoryResultMap" type="com.kh.healthDao.admin.model.vo.Category">
		<id property="categoryId" column="CATEGORY_ID" />
		<result property="categoryName" column="CATEGORY_NAME" />
	</resultMap>
	
 	<!-- 상품 등록 -->
	<insert id="registProduct" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT 
		INTO PRODUCT
		(
			PRODUCT_NO
		  , PRODUCT_BRAND
		  , PRODUCT_TITLE
		  , PRODUCT_PRICE
		  , PRODUCT_BENEFIT
		  , PRODUCT_NOTICE
		  , PRODUCT_INFO
		  , PRODUCT_VIEW
		  , PRODUCT_STOCK
		  , CATEGORY_ID
		  , P_MEMBERSHIP
		)VALUES(
		    SEQ_PRODUCT_NO.NEXTVAL
		  , #{productBrand}
		  , #{productTitle}
		  , #{productPrice}
		  , #{productBenefit}
		  , #{productNotice}
		  , '식품'
		  , 0
		  , 0
		  , #{categoryId}
		  , #{pMembership}
		)
	</insert>
	
	<insert id="registOption" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT
		  INTO PRODUCT_OPTION
		(
			OPTION_NO
		  , PRODUCT_OPTION
		  , PRODUCT_NO
		)
		VALUES
		(
			SEQ_OPTION_NO.NEXTVAL
		  , #{productOption}
		  , SEQ_PRODUCT_NO.CURRVAL
		)
	</insert>
	
	 <!-- <insert id="registCategory" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT
		  INTO PRODUCT_CATEGORY
		(
			CATEGORY_ID
		  , CATEGORY_NAME
		  
		)
		VALUES
		(
			SEQ_CATEGORY_ID.NEXTVAL
		  , #{categoryName}
		  
		)
	</insert>  -->
	
	<select id="listProductInventory" resultMap="productResultMap" parameterType="com.kh.healthDao.admin.model.vo.Product">
	SELECT
	      PRODUCT_NO
	    , PRODUCT_TITLE
	    , PRODUCT_BRAND
	    , PRODUCT_PRICE
	    , PRODUCT_INFO
	    , PRODUCT_STOCK
	 FROM PRODUCT
	 </select>
	 
	 <update id="insertproductStock" parameterType="com.kh.healthDao.admin.model.vo.Product">
	 UPDATE PRODUCT
		SET PRODUCT_STOCK = #{productStock}
	  WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 쿠폰 등록 -->
	<insert id="couponInput" parameterType="com.kh.healthDao.admin.model.vo.Coupon">
		INSERT INTO COUPON(
		      P_NO
		    , P_NAME
		    , P_SALE
		    , START_DATE
		    , END_DATE
		)VALUES(
		    SEQ_P_NO.NEXTVAL
		    , #{pName}
		    , #{pSale}
		    , #{startDate}
		    , #{endDate}
		)
	</insert>
	
	<!-- 쿠폰 리스트 -->
	<select id="allCouponListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM(
		SELECT
		    P_NO
		    , P_NAME
		    , P_SALE
		    , START_DATE
		    , END_DATE
		FROM COUPON)
	</select>
	
	<select id="allCouponList" parameterType="hashmap" resultMap="couponResultMap">
		SELECT *
		FROM
		    (SELECT ROWNUM RNUM, A.*
		            FROM
		            (SELECT
					    P_NO
					    , P_NAME
					    , P_SALE
					    , START_DATE
					    , END_DATE
					FROM COUPON
		        	ORDER BY P_NO DESC) A
		    )
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
</mapper>