<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.healthDao.admin.model.dao.AdminMapper">
	<resultMap id="productResultMap" type="com.kh.healthDao.admin.model.vo.Product">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productBrand" column="PRODUCT_BRAND" />
		<result property="productTitle" column="PRODUCT_TITLE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productBenefit" column="PRODUCT_BENEFIT" />
		<result property="productNotice" column="PRODUCT_NOTICE" />
		<result property="productInfo" column="PRODUCT_INFO" />
		<result property="productView" column="PRODUCT_VIEW" />
		<result property="productStock" column="PRODUCT_STOCK" />
		<result property="CategoryId" column="CATEGORY_ID" />
		<result property="pMembership" column="P_MEMBERSHIP"/>
		<result property="productRank" column="PRODUCT_RANK"/>
	</resultMap>
	
	<resultMap id="productResultMap2" type="com.kh.healthDao.admin.model.vo.Product">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productBrand" column="PRODUCT_BRAND" />
		<result property="productTitle" column="PRODUCT_TITLE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productInfo" column="PRODUCT_INFO" />
		<result property="productStock" column="PRODUCT_STOCK" />
	</resultMap>
	
	<resultMap id="couponResultMap" type="com.kh.healthDao.admin.model.vo.Coupon">
		<id property="pNo" column="P_NO" />
		<result property="pName" column="P_NAME" />
		<result property="pSale" column="P_SALE" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
	</resultMap>

	<resultMap id="categoryResultMap" type="com.kh.healthDao.admin.model.vo.Category">
		<id property="categoryId" column="CATEGORY_ID" />
		<result property="categoryName" column="CATEGORY_NAME" />
	</resultMap>
	
	<resultMap id="noticeResultMap" type="com.kh.healthDao.admin.model.vo.Notice">
		<id property="nNo" column="N_NO" />
		<result property="nTitle" column="N_TITLE" />
		<result property="nContent" column="N_CONTENT" />
		<result property="nDate" column="N_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="nView" column="N_VIEW" />
	</resultMap>
	
	<resultMap id="MemberSoundResultMap" type="com.kh.healthDao.mypage.model.vo.MemberSound">
		<id property="cNo" column="C_NO" />
		<result property="cDept" column="C_DEPT" />
		<result property="cContent" column="C_CONTENT" />
		<result property="cDate" column="C_DATE" />
		<result property="cStatus" column="C_STATUS" />
		<result property="userNo" column="USER_NO" />
		<result property="userId" column="USER_ID" />
	</resultMap>
	
	
	
 	<!-- 상품 등록 -->
	<insert id="registProduct" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT 
		INTO PRODUCT
		(
			PRODUCT_NO
		  , PRODUCT_BRAND
		  , PRODUCT_TITLE
		  , PRODUCT_PRICE
		  , PRODUCT_BENEFIT
		  , PRODUCT_NOTICE
		  , PRODUCT_INFO
		  , PRODUCT_VIEW
		  , PRODUCT_STOCK
		  , CATEGORY_ID
		  , P_MEMBERSHIP
		)VALUES(
		    SEQ_PRODUCT_NO.NEXTVAL
		  , #{productBrand}
		  , #{productTitle}
		  , #{productPrice}
		  , #{productBenefit}
		  , #{productNotice}
		  , '사진'
		  , 0
		  , 0
		  , #{categoryId}
		  , #{pMembership}
		)
	</insert>
	
	<insert id="registOption" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT
		  INTO PRODUCT_OPTION
		(
			OPTION_NO
		  , PRODUCT_OPTION
		  , PRODUCT_NO
		)
		VALUES
		(
			SEQ_OPTION_NO.NEXTVAL
		  , #{productOption}
		  , SEQ_PRODUCT_NO.CURRVAL
		)
	</insert>
	
	 <!-- <insert id="registCategory" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT
		  INTO PRODUCT_CATEGORY
		(
			CATEGORY_ID
		  , CATEGORY_NAME
		  
		)
		VALUES
		(
			SEQ_CATEGORY_ID.NEXTVAL
		  , #{categoryName}
		  
		)
	</insert>  -->
	


	
	<select id="listProductInventory" resultMap="productResultMap2" parameterType="hashmap">
        SELECT *
		FROM
		    (SELECT ROWNUM RNUM, A.*
            FROM
		      (SELECT 
		     	  PRODUCT_NO
			    , PRODUCT_BRAND
			    , PRODUCT_TITLE
			    , PRODUCT_PRICE
			    , PRODUCT_INFO
			    , PRODUCT_STOCK
		 FROM PRODUCT
        ORDER BY PRODUCT_NO DESC) A
		    )
			WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="getinventoryCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT 
              PRODUCT_NO
		    , PRODUCT_BRAND
		    , PRODUCT_TITLE
		    , PRODUCT_PRICE
		    , PRODUCT_INFO
		    , PRODUCT_STOCK
		FROM PRODUCT
		ORDER BY PRODUCT_NO DESC)
	</select>
	
	<update id="stockPlus" parameterType="com.kh.healthDao.admin.model.vo.Product">
	 UPDATE PRODUCT
		SET PRODUCT_STOCK = PRODUCT_STOCK+#{productStock}
	  WHERE PRODUCT_NO = #{productNo}
	</update>
	

	<!-- 쿠폰 등록 -->
	<insert id="couponInput" parameterType="com.kh.healthDao.admin.model.vo.Coupon">
		INSERT INTO COUPON(
		      P_NO
		    , P_NAME
		    , P_SALE
		    , START_DATE
		    , END_DATE
		)VALUES(
		    SEQ_P_NO.NEXTVAL
		    , #{pName}
		    , #{pSale}
		    , #{startDate}
		    , #{endDate}
		)
	</insert>
	
	<!-- 쿠폰 리스트 -->
	<select id="allCouponListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM(
		SELECT
		    P_NO
		    , P_NAME
		    , P_SALE
		    , START_DATE
		    , END_DATE
		FROM COUPON)
	</select>
	
	<select id="allCouponList" parameterType="hashmap" resultMap="couponResultMap">
		SELECT *
		FROM
		    (SELECT ROWNUM RNUM, A.*
		            FROM
		            (SELECT
					    P_NO
					    , P_NAME
					    , P_SALE
					    , START_DATE
					    , END_DATE
					FROM COUPON
		        	ORDER BY P_NO DESC) A
		    )
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<insert id="noticeInsert" parameterType="com.kh.healthDao.admin.model.vo.Notice">
		INSERT INTO NOTICE
		(    N_NO
		    , N_TITLE
		    , N_CONTENT
		    , N_DATE
		    , N_STATUS
		    , N_VIEW
		    , USER_NO
		)VALUES(
		    SEQ_N_NO.NEXTVAL
		    , #{nTitle}
		    , #{nContent}
		    , SYSDATE
		    , 'Y'
		    , 0
		    , #{userNo}
		)
	</insert>
	
	<select id="allNoticeListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM(
		SELECT
		    N_NO
		    , N_TITLE
		    , N_CONTENT
		    , N_DATE
		    , MODIFY_DATE
		    , N_VIEW
		FROM NOTICE
		WHERE N_STATUS = 'Y')
	</select>
	
	<select id="allNoticeList" parameterType="hashmap" resultMap="noticeResultMap">
		SELECT *
		FROM
		    (SELECT ROWNUM RNUM, A.*
		            FROM
		            (SELECT
					    N_NO
					    , N_TITLE
					    , N_CONTENT
					    , N_DATE
					    , MODIFY_DATE
					    , N_VIEW
					FROM NOTICE
					WHERE N_STATUS = 'Y'
		        	ORDER BY N_NO DESC) A
		    )
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="noticeDetail" parameterType="_int" resultMap="noticeResultMap">
		SELECT
		    N_NO
		    , N_TITLE
		    , N_CONTENT
		    , N_DATE
		    , MODIFY_DATE
		    , N_VIEW
		FROM NOTICE
		WHERE N_NO = #{nNo}
	</select>
	
	<update id="noticeModify" parameterType="com.kh.healthDao.admin.model.vo.Notice">
		UPDATE NOTICE 
		SET N_TITLE = #{nTitle}
		  , N_CONTENT = #{nContent}
		WHERE N_NO = #{nNo}
	</update>
	
	<update id="viewUpdate" parameterType="_int">
		UPDATE NOTICE 
		SET N_VIEW = N_VIEW + 1
		WHERE N_NO = #{nNo}
	</update>
	
	<select id="newfiveNoticeList" resultMap="noticeResultMap">
		SELECT
		    N_NO
		    , N_TITLE
		    , N_CONTENT
		    , N_DATE
		    , MODIFY_DATE
		    , N_VIEW
		FROM NOTICE
		WHERE N_STATUS = 'Y'
		<![CDATA[
		AND ROWNUM < 6
		]]>
		ORDER BY ROWNUM DESC
	</select>
	
	<insert id="memberSoundInsert" parameterType="com.kh.healthDao.mypage.model.vo.MemberSound">
		INSERT INTO MEMBER_SOUND(
		    C_NO
		    , C_DEPT
		    , C_CONTENT
		    , C_DATE
		    , USER_NO
		    , IMG_LOCATION
		    , IMG_NAME
		    , C_STATUS
		)VALUES(
		    SEQ_C_NO.NEXTVAL
		    , #{cDept}
		    , #{cContent}
		    , SYSDATE
		    , #{userNo}
		    , NULL
		    , NULL
		    , 'N'
		)
	</insert>
	
	<select id="memberSoundListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM(
		SELECT
		    C_NO
		    , C_DEPT
		    , C_CONTENT
		    , C_DATE
		    , USER_NO
		    , USER_ID
		    , C_STATUS
		FROM MEMBER_SOUND
		JOIN MEMBER USING(USER_NO))
	</select>
	
	<select id="memberSoundList" parameterType="hashmap" resultMap="MemberSoundResultMap">
		SELECT *
		FROM
		    (SELECT ROWNUM RNUM, A.*
		            FROM
		            (SELECT
					    C_NO
					    , C_DEPT
					    , C_CONTENT
					    , C_DATE
					    , USER_NO
					    , USER_ID
					    , C_STATUS
					FROM MEMBER_SOUND
					JOIN MEMBER USING(USER_NO)
		        	ORDER BY C_NO DESC) A
		    )
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="memberSoundDetail" parameterType="_int" resultMap="MemberSoundResultMap">
		SELECT
		    C_NO
		    , C_DEPT
		    , C_CONTENT
		    , C_DATE
		    , USER_NO
		    , USER_ID
		    , C_STATUS
		FROM MEMBER_SOUND
		JOIN MEMBER USING(USER_NO)
		WHERE C_NO = #{cNo}
	</select>
	
	<update id="memberSoundModify" parameterType="com.kh.healthDao.mypage.model.vo.MemberSound">
		UPDATE MEMBER_SOUND
		SET C_STATUS = #{cStatus}
		WHERE C_NO = #{cNo}
	</update>
</mapper>