<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.healthDao.main.model.dao.BannerMapper">

	<resultMap id="bannerResultMap" type="com.kh.healthDao.main.model.vo.Banner">
		<id property="main_no" column="MAIN_NO"/>
		<result property="main_name" column="MAIN_NAME"/>
		<result property="main_rank" column="MAIN_RANK"/>
		<result property="main_url" column="MAIN_URL"/>
		<result property="main_status" column="MAIN_STATUS"/>
		<result property="file_path" column="FILE_PATH"/>
		<result property="change_file" column="CHANGE_FILE"/>
	</resultMap>

	<select id="bannerAllList" resultMap="bannerResultMap">
		SELECT					   
			    MAIN_NO
			  , MAIN_NAME
			  , MAIN_RANK
			  , MAIN_URL
			  , MAIN_STATUS
			  , FILE_PATH
			  , CHANGE_FILE
		  FROM BANNER
		  JOIN BANNER_FILE USING(MAIN_NO)
		  JOIN AT_FILE USING(F_NO)
	</select>
	
	<select id="getListCount" resultMap="bannerResultMap">
		SELECT					   
			    COUNT(*)
		  FROM BANNER
		  JOIN BANNER_FILE USING(MAIN_NO)
		  JOIN AT_FILE USING(F_NO)
	</select>
	
	
	<insert id="insertBanner" parameterType="hashmap">
		INSERT 
		INTO BANNER
		(
		    MAIN_NO
		  , MAIN_NAME
		  , MAIN_RANK
		  , MAIN_URL
		  , MAIN_STATUS
		)VALUES(
		    SEQ_MAIN_NO.NEXTVAL
		  , #{banner.main_name}
		  , #{banner.main_rank}
		  , #{banner.main_url}
		  , #{banner.main_status}
		)
	</insert>
	<insert id="insertFile" parameterType="hashmap">
		INSERT 
		INTO AT_FILE
		(
		    F_NO
		  , ORIGIN_FILE
		  , CHANGE_FILE
		  , FILE_PATH
		  , STATUS
		)VALUES(
		    SEQ_F_NO.NEXTVAL
		  , #{originFileName}
		  , #{savedName}
		  , #{path}
		  , 'Y'
		)
	</insert>
	<insert id="insertFileDB">
		INSERT 
		INTO BANNER_FILE
		(
		    F_NO
		  , MAIN_NO
		)VALUES(
		    SEQ_F_NO.CURRVAL
		  , SEQ_MAIN_NO.CURRVAL
		)
	</insert>
	<delete id="deleteBanner">
		DELETE
				BANNER_FILE
		 WHERE MAIN_NO = #{main_no}
	</delete>
	<delete id="deleteBanner2">
		DELETE
				BANNER
		 WHERE MAIN_NO = #{main_no}
	</delete>
</mapper>