<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.healthDao.main.model.dao.BannerMapper">

	<resultMap id="bannerResultMap" type="com.kh.healthDao.main.model.vo.Banner">
		<id property="main_no" column="MAIN_NO"/>
		<result property="main_name" column="MAIN_NAME"/>
		<result property="main_rank" column="MAIN_RANK"/>
		<result property="main_url" column="MAIN_URL"/>
		<result property="main_status" column="MAIN_STATUS"/>
	</resultMap>

	<select id="bannerAllList" resultMap="bannerResultMap">
		SELECT
			   *
		  FROM BANNER
	</select>
	

</mapper>