<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.healthDao.shopping.model.dao.ShoppingMapper">
	<resultMap id="productResultMap" type="com.kh.healthDao.admin.model.vo.Product">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productBrand" column="PRODUCT_BRAND" />
		<result property="productTitle" column="PRODUCT_TITLE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productBenefit" column="PRODUCT_BENEFIT" />
		<result property="productNotice" column="PRODUCT_NOTICE" />
		<result property="productInfo" column="PRODUCT_INFO" />
		<result property="productView" column="PRODUCT_VIEW" />
		<result property="productStock" column="PRODUCT_STOCK" />
		<result property="categoryId" column="CATEGORY_ID" />
		<result property="pMembership" column="P_MEMBERSHIP"/>
		<result property="productRank" column="PRODUCT_RANK"/>
		<association javaType="com.kh.healthDao.member.model.vo.Member" property="member">
			<id column="USER_NO" property="userNo"/>
		</association>
	</resultMap>
	
	<select id="recentList" resultMap="productResultMap">
		SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
		 FROM PRODUCT
		WHERE PRODUCT_NO = #{productNo}
	</select>
	<select id="recoRankList" resultMap="productResultMap" parameterType="_int">
		SELECT
				PRODUCT_NO
              , PRODUCT_RANK
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
		 FROM PRODUCT
         JOIN PRODUCT_RECOMMEND USING (PRODUCT_NO)
        ORDER BY PRODUCT_RANK ASC
	</select>
	<insert id="insertReco" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT 
		INTO PRODUCT_RECOMMEND
		(
			PRODUCT_NO
		  , PRODUCT_RANK
		)VALUES(
		    #{productNo}
		  , #{productRank}
		)
	</insert>
	<select id="detailPdt" resultMap="productResultMap" parameterType="_int">
		SELECT
				PRODUCT_NO
              , PRODUCT_RANK
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
		 FROM PRODUCT
         LEFT JOIN PRODUCT_RECOMMEND USING (PRODUCT_NO)
		WHERE PRODUCT_NO = #{productNo}
	</select>
	<select id="recoList" resultMap="productResultMap">
		SELECT
				PRODUCT_NO
              , PRODUCT_RANK
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
		 FROM PRODUCT
         RIGHT JOIN PRODUCT_RECOMMEND USING (PRODUCT_NO)
	</select>
	
	<select id="pdtList" resultMap="productResultMap">
		SELECT
				PRODUCT_NO
              , PRODUCT_RANK
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
		 FROM PRODUCT
		 LEFT JOIN PRODUCT_RECOMMEND USING (PRODUCT_NO)
	</select>
	
	<select id="selectReco" resultMap="productResultMap" parameterType="_int">
		SELECT
				PRODUCT_NO
              , PRODUCT_RANK
		 FROM PRODUCT_RECOMMEND
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	 <update id="modifyReco" parameterType="com.kh.healthDao.admin.model.vo.Product">
	 UPDATE PRODUCT_RECOMMEND
		SET PRODUCT_RANK = #{productRank}
	  WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<delete id="deleteReco">
		DELETE
			   PRODUCT_RECOMMEND
		 WHERE PRODUCT_NO = #{productNo}
	</delete>
	
	<select id="pdtListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
		 FROM PRODUCT)
	</select>
	
	<select id="recoListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT
				PRODUCT_NO
              , PRODUCT_RANK
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
		 FROM PRODUCT
         RIGHT JOIN PRODUCT_RECOMMEND USING (PRODUCT_NO))
	</select>
	
	<select id="wishList" resultMap="productResultMap">
		SELECT
				LIKE_NO
              , PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
              , USER_NO
		 FROM PRODUCT_LIKE
		 JOIN PRODUCT USING (PRODUCT_NO)
        WHERE USER_NO = #{userNo}
	</select>
	<select id="wishListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT
				LIKE_NO
              , PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_BENEFIT
			  , PRODUCT_NOTICE
			  , PRODUCT_INFO
			  , PRODUCT_VIEW
			  , PRODUCT_STOCK
			  , CATEGORY_ID
			  , P_MEMBERSHIP
              , USER_NO
		 FROM PRODUCT_LIKE
		 JOIN PRODUCT USING (PRODUCT_NO)
        WHERE USER_NO = #{userNo})
	</select>
	
	<select id="wishChk" parameterType="com.kh.healthDao.admin.model.vo.Product" resultMap="productResultMap">
		SELECT
				LIKE_NO
			  , PRODUCT_NO
			  , USER_NO
		  FROM PRODUCT_LIKE
		 WHERE USER_NO = #{userNo}
		   AND PRODUCT_NO = #{productNo}
	</select>
	
	<insert id="insertWish" parameterType="com.kh.healthDao.admin.model.vo.Product">
		INSERT 
		INTO PRODUCT_LIKE
		(
			LIKE_NO
		  , PRODUCT_NO
		  , USER_NO
		)VALUES(
			SEQ_LIKE_NO.NEXTVAL
		  , #{productNo}
		  , #{userNo}
		)
	</insert>
	
	<delete id="deleteWish" parameterType="com.kh.healthDao.admin.model.vo.Product">
		DELETE
			   PRODUCT_LIKE
		 WHERE USER_NO = #{userNo}
		   AND PRODUCT_NO = #{productNo}
	</delete>
	
	
	<select id="shoppingList" resultMap="productResultMap" parameterType="hashmap">
		SELECT *
				FROM
				    (SELECT ROWNUM RNUM, A.*
				            FROM
				            (SELECT
						PRODUCT_NO
					  , PRODUCT_BRAND
					  , PRODUCT_TITLE
					  , PRODUCT_PRICE
					  , PRODUCT_BENEFIT
					  , PRODUCT_NOTICE
					  , PRODUCT_INFO
					  , PRODUCT_VIEW
					  , PRODUCT_STOCK
					  , CATEGORY_ID
					  , P_MEMBERSHIP
				 FROM PRODUCT
				 ORDER BY PRODUCT_NO DESC) A
		    )
			WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		
	</select>
	
	<!-- 신상품 -->
	<select id="shoppingListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  
		 FROM PRODUCT
		 ORDER BY PRODUCT_NO DESC)
	</select>
	
	<!-- 식품 -->
	<select id="foodShoppingListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , CATEGORY_ID 
		 FROM PRODUCT
		WHERE CATEGORY_ID='식품'
		ORDER BY PRODUCT_NO DESC)
	</select>
	
	<!-- 음료 -->
	<select id="beverageShoppingListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , CATEGORY_ID 
		 FROM PRODUCT
		WHERE CATEGORY_ID='음료'
		ORDER BY PRODUCT_NO DESC)
	</select>
	
	<!-- 음료 -->
	<select id="goodsShoppingListCount" resultType="_int">
		SELECT
		    COUNT(*)
		FROM
		(SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , CATEGORY_ID 
		 FROM PRODUCT
		WHERE CATEGORY_ID='운동기구'
		ORDER BY PRODUCT_NO DESC)
	</select>
	
	
	<select id="NewProductSelect" resultMap="productResultMap" parameterType="_int">
		SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  
		 FROM PRODUCT
		 ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id="foodShoppingList" resultMap="productResultMap">
		SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , CATEGORY_ID 
		 FROM PRODUCT
		WHERE CATEGORY_ID='식품'
		ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id="beverageShoppingList" resultMap="productResultMap">
		SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , CATEGORY_ID 
		 FROM PRODUCT
		WHERE CATEGORY_ID='음료'
		ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id="goodsShoppingList" resultMap="productResultMap">
		SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , CATEGORY_ID 
		 FROM PRODUCT
		WHERE CATEGORY_ID='운동기구'
		ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id="shoppingDetail" resultMap="productResultMap" parameterType="_int">
		SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_NOTICE
			  , PRODUCT_BENEFIT
		   FROM PRODUCT
		  WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<select id="shoppingPayment" resultMap="productResultMap" parameterType="_int">
		SELECT
				PRODUCT_NO
			  , PRODUCT_BRAND
			  , PRODUCT_TITLE
			  , PRODUCT_PRICE
			  , PRODUCT_NOTICE
			  , PRODUCT_BENEFIT
		   FROM PRODUCT
		  WHERE PRODUCT_NO = #{productNo}
	</select>
	
	
	
	
	
	
	
	
	
	
	
</mapper>