<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.healthDao.trainer.model.dao.TrainerMapper">

	<resultMap id="trainerResultMap" type="com.kh.healthDao.trainer.model.vo.Trainer">
		<id property="tNo" column="T_NO"/>
		<result property="tGymName" column="T_GYM_NAME"/>
		<result property="tGymAddress" column="T_GYM_ADDRESS"/>
		<result property="tArea" column="T_AREA"/>
		<result property="tMetro" column="T_METRO"/>
		<result property="tAreaIntro" column="T_AREA_INTRO"/>
		<result property="tOneIntro" column="T_ONE_INTRO"/>
		<result property="tPrice" column="T_PRICE"/>
		<result property="weekDaySc" column="WEEKDAY_SC"/>
		<result property="weekAndSc" column="WEEKAND_SC"/>
		<result property="tIntro" column="T_INTRO"/>
		<result property="queIntro" column="QUE_INTRO"/>
		<result property="sumReview" column="SUM_REVIEW"/>
		<result property="avgStar" column="AVG_STAR"/>
		<result property="file_path" column="FILE_PATH"/>
		<result property="change_file1" column="CHANGE_FILE1"/>
		<result property="change_file2" column="CHANGE_FILE2"/>
		<result property="f_tno" column="F_TNO"/>
		<result property="f_cno" column="F_CNO"/>
		
		<association javaType="com.kh.healthDao.member.model.vo.Member" property="member">
			<id column="USER_NO" property="userNo"/>
			<result column="USER_NAME" property="userName"/>
			<result column="USER_PHONE" property="userPhone"/>
		</association>
	</resultMap>
	
	<resultMap id="trainerOrderMap" type="com.kh.healthDao.trainer.model.vo.PtOrder">
		<id property="ptNo" column="PT_NO"/>
		<result property="ptDate" column="PT_DATE"/>
		<result property="userId" column="USER_ID"/>
		<result property="payNo" column="PAY_NO"/>
		<result property="TNo" column="T_NO"/>
		
		<association javaType="com.kh.healthDao.trainer.model.vo.Trainer" property="trainer">
			<id column="T_NO" property="tNo"/>
			<result column="T_PRICE" property="TPrice"/>
			<result column="T_AREA_INTRO" property="TAreaIntro"/>
				<association javaType="com.kh.healthDao.member.model.vo.Member" property="member">
					<id column="USER_NO" property="userNo"/>
					<result column="USER_NAME" property="userName"/>
					<result column="USER_PHONE" property="userPhone"/>
				</association>
		</association>
	</resultMap>
	

	<resultMap id="trainerReviewListMap" type="com.kh.healthDao.review.model.vo.Review">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="category" column="CATEGORY"/>
		<result property="star" column="STAR"/>
		<result property="rContent" column="R_CONTENT"/>
		<result property="rDate" column="R_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="payNo" column="PAY_NO"/>
		<result property="userNo" column="USER_NO"/>
			<association javaType="com.kh.healthDao.member.model.vo.Member" property="member">
				<id property="userNo" column="USER_NO"/>
				<result property="userName" column="USER_NAME"/>
			</association>
	</resultMap>
	
	<resultMap id="memberOrderSelectMap" type="com.kh.healthDao.member.model.vo.Member">
		<id property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
	</resultMap>
	
	<select id="trainerList" resultMap="trainerResultMap" parameterType="String">
		SELECT
		       T.T_NO
		     , T.T_GYM_NAME
		     , T.T_GYM_ADDRESS
		     , T.T_AREA
		     , T.T_METRO
		     , T.T_AREA_INTRO
		     , T.T_ONE_INTRO
		     , T.T_PRICE
		     , T.WEEKDAY_SC
		     , T.WEEKAND_SC
		     , T.T_INTRO
		     , T.QUE_INTRO
             , COUNT(DISTINCT R.REVIEW_NO) AS SUM_REVIEW
             , ROUND((SUM(R.STAR)) / COUNT(R.REVIEW_NO), 1) AS AVG_STAR
		     , M.USER_NO
		     , M.USER_NAME
		     , M.USER_PHONE
		     , (SELECT AF.FILE_PATH FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS FILE_PATH
             , (SELECT TF.F_NO FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS F_TNO
             , (SELECT AF.CHANGE_FILE FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS CHANGE_FILE1
             , (SELECT TF.F_NO FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='Y' AND TF.T_NO = T.T_NO) AS F_CNO
             , (SELECT AF.CHANGE_FILE FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='Y' AND TF.T_NO = T.T_NO) AS CHANGE_FILE2
		  FROM TRAINER T
		  JOIN MEMBER M ON(T.T_NO = M.USER_NO)
          LEFT OUTER JOIN PT_ORDER O ON(T.T_NO = O.T_NO)
          LEFT OUTER JOIN REVIEW R ON(O.PAY_NO = R.PAY_NO)
          LEFT OUTER JOIN TRAINER_FILE TF ON(TF.T_NO = T.T_NO)
          LEFT OUTER JOIN AT_FILE AF ON(AF.F_NO = TF.F_NO)
         WHERE T_METRO=#{searchTrainer}
         GROUP BY T.T_NO
		     , T.T_GYM_NAME
		     , T.T_GYM_ADDRESS
		     , T.T_AREA
		     , T.T_METRO
		     , T.T_AREA_INTRO
		     , T.T_ONE_INTRO
		     , T.T_PRICE
		     , T.WEEKDAY_SC
		     , T.WEEKAND_SC
		     , T.T_INTRO
		     , T.QUE_INTRO
		     , M.USER_NO
		     , M.USER_NAME
		     , M.USER_PHONE
	</select>

	<select id="trainerSelect" resultMap="trainerResultMap" parameterType="_int">
		 SELECT
		       T.T_NO
		     , T.T_GYM_NAME
		     , T.T_GYM_ADDRESS
		     , T.T_AREA
		     , T.T_METRO
		     , T.T_AREA_INTRO
		     , T.T_ONE_INTRO
		     , T.T_PRICE
		     , T.WEEKDAY_SC
		     , T.WEEKAND_SC
		     , T.T_INTRO
		     , T.QUE_INTRO
		     , M.USER_NO
		     , M.USER_NAME
		     , M.USER_PHONE
             , COUNT(DISTINCT R.REVIEW_NO) AS SUM_REVIEW
             , ROUND((SUM(R.STAR)) / COUNT(R.REVIEW_NO), 1) AS AVG_STAR
             , (SELECT AF.FILE_PATH FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS FILE_PATH
             , (SELECT TF.F_NO FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS F_TNO
             , (SELECT AF.CHANGE_FILE FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS CHANGE_FILE1
             , (SELECT TF.F_NO FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='Y' AND TF.T_NO = T.T_NO) AS F_CNO
             , (SELECT AF.CHANGE_FILE FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='Y' AND TF.T_NO = T.T_NO) AS CHANGE_FILE2
		  FROM TRAINER T
		  JOIN MEMBER M ON(T.T_NO = M.USER_NO)
          LEFT OUTER JOIN PT_ORDER O ON(T.T_NO = O.T_NO)
          LEFT OUTER JOIN REVIEW R ON(O.PAY_NO = R.PAY_NO)
          LEFT OUTER JOIN TRAINER_FILE TF ON(TF.T_NO = T.T_NO)
          LEFT OUTER JOIN AT_FILE AF ON(AF.F_NO = TF.F_NO)
         GROUP BY T.T_NO
		     , T.T_GYM_NAME
		     , T.T_GYM_ADDRESS
		     , T.T_AREA
		     , T.T_METRO
		     , T.T_AREA_INTRO
		     , T.T_ONE_INTRO
		     , T.T_PRICE
		     , T.WEEKDAY_SC
		     , T.WEEKAND_SC
		     , T.T_INTRO
		     , T.QUE_INTRO
		     , M.USER_NO
		     , M.USER_NAME
		     , M.USER_PHONE
		HAVING T.T_NO = #{tNo}
	</select> 
	
	<update id="trainerModify" parameterType="com.kh.healthDao.trainer.model.vo.Trainer">
		UPDATE TRAINER
		   SET T_AREA_INTRO = #{tAreaIntro}
		     , T_ONE_INTRO = #{tOneIntro}
		     , T_PRICE = #{tPrice}
		     , T_AREA = #{tArea}
		     , T_METRO = #{tMetro}
		     , WEEKDAY_SC = #{weekDaySc}
		     , WEEKAND_SC = #{weekAndSc}
		     , T_INTRO = #{tIntro}
		 where T_NO = #{tNo}
	</update>
	
	<select id="trainerOrderList" resultMap="trainerOrderMap" parameterType="_int">
		SELECT
		       P.PT_NO
		     , P.PT_DATE
		     , P.USER_ID
		     , P.T_NO
		     , T.T_PRICE
		     , T.T_AREA_INTRO
		     , M.USER_NAME
		     , M.USER_PHONE
		  FROM PT_ORDER P
		  JOIN TRAINER T ON(P.T_NO = T.T_NO)
		  JOIN MEMBER M ON(T.T_NO = M.USER_NO)
		 WHERE P.USER_ID=#{userNo}
	</select>
	
	<select id="trainerReviewList" resultMap="trainerReviewListMap" parameterType="_int">
		SELECT
		       R.REVIEW_NO
		     , R.STAR
		     , R.R_CONTENT
		     , R.R_DATE
		     , R.MODIFY_DATE
		     , M.USER_NO
		     , M.USER_NAME
		  FROM REVIEW R
		  JOIN PT_ORDER O ON(R.PAY_NO = O.PAY_NO)
		  JOIN TRAINER T ON(O.T_NO = T.T_NO)
		  JOIN MEMBER M ON(R.USER_NO = M.USER_NO)
		 WHERE T.T_NO = #{tNo}
		   AND R.CATEGORY = 'PT'
	</select>
	
	<insert id="trainerInsert" parameterType="com.kh.healthDao.trainer.model.vo.Trainer">
		INSERT
		  INTO TRAINER
		  (
		    T_NO
		  , T_GYM_NAME
		  , T_GYM_ADDRESS
		  , T_AREA
		  , T_METRO
		  , T_AREA_INTRO
		  , T_ONE_INTRO
		  , T_PRICE
		  , WEEKDAY_SC
		  , WEEKAND_SC
		  , T_INTRO
		  , QUE_INTRO
		  )
		  VALUES
		  (
		    #{tNo}
		  , #{tGymName}
		  , '없음'
		  , #{tArea}
		  , #{tMetro}
		  , #{tAreaIntro}
		  , #{tOneIntro}
		  , #{tPrice}
		  , #{weekDaySc}
		  , #{weekAndSc}
		  , #{tIntro}
		  , #{queIntro}
		  )
	</insert>
	
	<select id="sumPtOrder" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM PT_ORDER
	</select>
	
	<select id="sumTrainer" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM TRAINER
	</select>
	
	<select id="sumReview" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM REVIEW
		 WHERE CATEGORY='PT'
	</select>
	
	<insert id="trainerFileInsert" parameterType="hashmap">
		INSERT 
		INTO AT_FILE
		(
		    F_NO
		  , ORIGIN_FILE
		  , CHANGE_FILE
		  , FILE_PATH
		  , STATUS
		)VALUES(
		    SEQ_F_NO.NEXTVAL
		  , #{originFile1}
		  , #{trainer.change_file1}
		  , #{trainer.file_path}
		  , 'N'
		)
	</insert>
	
	<insert id="trainerFileInsertDB" parameterType="com.kh.healthDao.trainer.model.vo.Trainer">
		INSERT 
		INTO TRAINER_FILE
		(
		    F_NO
		  , T_NO
		)VALUES(
		    SEQ_F_NO.CURRVAL
		  , #{tNo}
		)
	</insert>
	
	<insert id="centerFileInsert" parameterType="hashmap">
		INSERT 
		INTO AT_FILE
		(
		    F_NO
		  , ORIGIN_FILE
		  , CHANGE_FILE
		  , FILE_PATH
		  , STATUS
		)VALUES(
		    SEQ_F_NO.NEXTVAL
		  , #{originFile2}
		  , #{trainer.change_file2}
		  , #{trainer.file_path}
		  , 'Y'
		)
	</insert>
	
	<insert id="centerFileInsertDB" parameterType="com.kh.healthDao.trainer.model.vo.Trainer">
		INSERT 
		INTO TRAINER_FILE
		(
		    F_NO
		  , T_NO
		)VALUES(
		    SEQ_F_NO.CURRVAL
		  , #{tNo}
		)
	</insert>
	
	<update id="trainerFileModify" parameterType="hashmap">
		UPDATE AT_FILE
		   SET
			   ORIGIN_FILE = #{originFile1}
			 , CHANGE_FILE = #{changeFile1}
		 WHERE F_NO = #{trainer.f_tno}
	</update>
	
	<update id="centerFileModify" parameterType="hashmap">
		UPDATE AT_FILE
		   SET
			   ORIGIN_FILE = #{originFile2}
			 , CHANGE_FILE = #{changeFile2}
		 WHERE F_NO = #{trainer.f_cno}
	</update>


	<select id="rvStatus" parameterType="hashmap" resultMap="trainerReviewListMap">
		SELECT
		       PAY_NO
		  FROM PT_ORDER
		 WHERE T_NO = #{tNo}
		   AND USER_ID = #{review.userNo}
	</select>
	
	<insert id="trainerReviewInsert" parameterType="com.kh.healthDao.review.model.vo.Review">
		INSERT
		  INTO REVIEW
		  (
		  	REVIEW_NO
		  , CATEGORY
		  , STAR
		  , R_CONTENT
		  , R_DATE
		  , MODIFY_DATE
		  , PAY_NO
		  , USER_NO
		  , PRODUCT_NO
		  , T_NO
		  )VALUES
		  (
		  	SEQ_REVIEW_NO.NEXTVAL
		  , 'PT'
		  , #{star}
		  , #{rContent}
		  , SYSDATE
		  , DEFAULT
		  , #{payNo}
		  , #{userNo}
		  , DEFAULT
		  , #{tNo}
		  )
	</insert>
	
	<select id="reviewStatus" parameterType="com.kh.healthDao.review.model.vo.Review" resultMap="trainerReviewListMap">
		SELECT
			   PAY_NO
		  FROM REVIEW
		 WHERE USER_NO = #{userNo}
		   AND PAY_NO = #{payNo}
	</select>
	
	<select id="mOrderSelect" parameterType="com.kh.healthDao.member.model.vo.Member" resultMap="memberOrderSelectMap">
		SELECT
			   USER_NO
			 , USER_NAME
			 , USER_PHONE
			 , USER_EMAIL
		  FROM MEMBER
		 WHERE USER_ID = #{userId}
	</select>
	
	<insert id="trainerPayInsert" parameterType="com.kh.healthDao.manager.model.vo.Payment">
		INSERT
		  INTO PAYMENT
		  (
		  	PAY_NO
		  , PAY_DATE
		  , PAY_METHOD
		  , ORDERER_PHONE
		  , ORDERER_EMAIL
		  , ORDER_STATUS
		  , USER_NO
		  , TOTAL_PRICE
		  )VALUES
		  (
		  	SEQ_PAY_NO.NEXTVAL
		  , SYSDATE
		  , 'card'
		  , #{ordererPhone}
		  , #{ordererEmail}
		  , 'Y'
		  , #{userNo}
		  , #{totalPrice}
		  )
	</insert>
	
	<insert id="trainerPtOrderInsert" parameterType="com.kh.healthDao.manager.model.vo.Payment">
		INSERT
		  INTO PT_ORDER
		  (
		  	PT_NO
		  , PT_DATE
		  , USER_ID
		  , PAY_NO
		  , T_NO
		  )VALUES
		  (
		  	SEQ_PT_NO.NEXTVAL
		  , SYSDATE
		  , #{userNo}
		  , SEQ_PAY_NO.CURRVAL
		  , #{productNo}
		  )
	</insert>


	<select id="trainerRankList" resultMap="trainerResultMap">
		 SELECT * FROM
			(SELECT
			         T.T_NO
			       , COUNT(DISTINCT O.PT_NO)
			       , ROW_NUMBER()OVER(ORDER BY COUNT(DISTINCT O.PT_NO) DESC) AS RANK
			       , T.T_GYM_NAME
			       , T.T_GYM_ADDRESS
			       , T.T_AREA
			       , T.T_METRO
			       , T.T_AREA_INTRO
			       , T.T_ONE_INTRO
			       , T.T_PRICE
			       , T.WEEKDAY_SC
			       , T.WEEKAND_SC
			       , T.T_INTRO
			       , T.QUE_INTRO
			       , COUNT(DISTINCT R.REVIEW_NO) AS SUM_REVIEW
			       , ROUND((SUM(R.STAR)) / COUNT(R.REVIEW_NO), 1) AS AVG_STAR
			       , M.USER_NO
			       , M.USER_NAME
			       , M.USER_PHONE
			       , (SELECT AF.FILE_PATH FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS FILE_PATH
			       , (SELECT TF.F_NO FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS F_TNO
			       , (SELECT AF.CHANGE_FILE FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='N' AND TF.T_NO = T.T_NO) AS CHANGE_FILE1
			       , (SELECT TF.F_NO FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='Y' AND TF.T_NO = T.T_NO) AS F_CNO
			       , (SELECT AF.CHANGE_FILE FROM AT_FILE AF JOIN TRAINER_FILE TF ON(AF.F_NO = TF.F_NO) WHERE STATUS='Y' AND TF.T_NO = T.T_NO) AS CHANGE_FILE2
			    FROM TRAINER T
			    JOIN MEMBER M ON(T.T_NO = M.USER_NO)
			      JOIN PT_ORDER O ON(T.T_NO = O.T_NO)
			      LEFT OUTER JOIN REVIEW R ON(O.PAY_NO = R.PAY_NO)
			      LEFT OUTER JOIN TRAINER_FILE TF ON(TF.T_NO = T.T_NO)
			      LEFT OUTER JOIN AT_FILE AF ON(AF.F_NO = TF.F_NO)
			     GROUP BY T.T_NO
			       , T.T_GYM_NAME
			       , T.T_GYM_ADDRESS
			       , T.T_AREA
			       , T.T_METRO
			       , T.T_AREA_INTRO
			       , T.T_ONE_INTRO
			       , T.T_PRICE
			       , T.WEEKDAY_SC
			       , T.WEEKAND_SC
			       , T.T_INTRO
			       , T.QUE_INTRO
			       , M.USER_NO
			       , M.USER_NAME
			       , M.USER_PHONE)
        	<![CDATA[WHERE RANK <= 4]]>
	</select> 

	
</mapper>