<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.trainer.model.dao.TrainerMapper">

	<resultMap id="trainerResultMap" type="com.example.demo.trainer.model.vo.Trainer">
		<id property="tNo" column="T_NO"/>
		<result property="tGymName" column="T_GYM_NAME"/>
		<result property="tGymAddress" column="T_GYM_ADDRESS"/>
		<result property="tArea" column="T_AREA"/>
		<result property="tMetro" column="T_METRO"/>
		<result property="tAreaIntro" column="T_AREA_INTRO"/>
		<result property="tOneIntro" column="T_ONE_INTRO"/>
		<result property="tPrice" column="T_PRICE"/>
		<result property="weekDaySc" column="WEEKDAY_SC"/>
		<result property="weekAndSc" column="WEEKAND_SC"/>
		<result property="tIntro" column="T_INTRO"/>
		<result property="queIntro" column="QUE_INTRO"/>
		
		<association javaType="com.example.demo.member.model.vo.Member" property="member">
			<id column="USER_NO" property="userNo"/>
			<result column="USER_NAME" property="userName"/>
			<result column="USER_PHONE" property="userPhone"/>
		</association>
		
	</resultMap>

	<select id="TrainerList" resultMap="trainerResultMap">
		SELECT
		       T.T_NO
		     , T.T_GYM_NAME
		     , T.T_GYM_ADDRESS
		     , T.T_AREA
		     , T.T_METRO
		     , T.T_AREA_INTRO
		     , T.T_ONE_INTRO
		     , T.T_PRICE
		     , T.WEEKDAY_SC
		     , T.WEEKAND_SC
		     , T.T_INTRO
		     , T.QUE_INTRO
		     , M.USER_NO
		     , M.USER_NAME
		     , M.USER_PHONE
		  FROM TRAINER T
		  JOIN MEMBER M ON(T.T_NO = M.USER_NO)
	</select>

	<select id="TrainerSelect" resultMap="trainerResultMap" parameterType="_int">
		 SELECT
		       T.T_NO
		     , T.T_GYM_NAME
		     , T.T_GYM_ADDRESS
		     , T.T_AREA
		     , T.T_METRO
		     , T.T_AREA_INTRO
		     , T.T_ONE_INTRO
		     , T.T_PRICE
		     , T.WEEKDAY_SC
		     , T.WEEKAND_SC
		     , T.T_INTRO
		     , T.QUE_INTRO
		     , M.USER_NO
		     , M.USER_NAME
		     , M.USER_PHONE
		  FROM TRAINER T
		  JOIN MEMBER M ON(T.T_NO = M.USER_NO)
		   AND T.T_NO = #{tNo}
	</select>
	

</mapper>