<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->

	<!-- container -->
	<div id="container" class="pdt0">
		<div class="findIdPwd">
			<div class="findMain">
				<div class="contents">
					<div class="pageTitArea">
						<h1>아이디/비밀번호 찾기</h1>
					</div>
					<div class="tabType tabType1 length2 switch findTab" id="guideTab"> <!-- id = 공통 VIEW CLASS -->
						<ul>
							<li><a href="#guideTab1" class="current"><span>아이디</span></a></li>
							<li><a href="#guideTab2"><span>비밀번호</span></a></li>
						</ul>
					</div>
					<div class="guideTab findIdTab" id="guideTab1" style>
						<div class="inp_wrap">
							<label class="inp_lab" for="ipt_label">이름</label>
							<div class="inp_text">
								<input type="text" name="" id="ipt_label" placeholder="input text">
								<button class="btn_clear"><span>clear</span></button>
							</div>
							<p class="error">잘못 입력했습니다</p>
						</div>
						<div class="inp_wrap">
							<label class="inp_lab" for="ipt_label">이메일</label>
							<div class="inp_text">
								<input type="text" name="" id="ipt_label" placeholder="input text">
								<button class="btn_clear"><span>clear</span></button>
							</div>
							<p class="error">잘못 입력했습니다</p>
						</div>
						<div class="btn_wrap">
							<a href="#" class="btn btnArr btnSizeL btnColorG btnTypeB" style="width:180px;"><span><b>확인</b></span></a>
						</div>
					</div>
					<div class="guideTab findPwdTab" id="guideTab2" style="display: none;">
						<div class="inp_wrap">
							<label class="inp_lab" for="ipt_label">아이디</label>
							<div class="inp_text">
								<input type="text" name="" id="ipt_label" placeholder="input text">
								<button class="btn_clear"><span>clear</span></button>
							</div>
							<p class="error">잘못 입력했습니다</p>
						</div>
						<div class="inp_wrap">
							<label class="inp_lab" for="ipt_label">이름</label>
							<div class="inp_text">
								<input type="text" name="" id="ipt_label" placeholder="input text">
								<button class="btn_clear"><span>clear</span></button>
							</div>
							<p class="error">잘못 입력했습니다</p>
						</div>
						<div class="inp_wrap">
							<label class="inp_lab" for="ipt_label">이메일</label>
							<div class="inp_text">
								<input type="text" name="" id="ipt_label" placeholder="input text">
								<button class="btn_clear"><span>clear</span></button>
							</div>
							<p class="error">잘못 입력했습니다</p>
						</div>
						<div class="btn_wrap">
							<a href="#" class="btn btnArr btnSizeL btnColorG btnTypeB" style="width:180px;"><span><b>확인</b></span></a>
						</div>
					</div>
					<div class="find_cc">
						<p>아이디/비밀번호 찾기가 잘 안되시나요?</p>
						<span>아래 전화상담으로 연락주세요!</span>
						<div id="find_cc_call">
							<img src="https://file.rankingdak.com/_skin/new_rankingdak_ver4/img/member/find_cc_call.png" alt="전화상담 하러가기" width="236">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->

		<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<!-- <th:block th:replace="common/quickNtalk.html"></th:block> -->
	<!--// 퀵메뉴 + 톡톡 -->
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script type="text/javascript" src="../../js/main.js"></script>
	<script type="text/javascript" src="../../js/eunjung.js"></script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>