<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->

	<!-- container -->
	<script>
		const msg = '[[${msg}]]';
		
		if(msg){
			alert(msg);			
		}
	</script>
	<div id="container" class="pdt0">
		<div class="login">
			<div class="findMain">
				<div class="contents">
					<div class="pageTitArea">
						<h1>로그인</h1>
					</div>
						<!-- <div th:if="${param.error}">
					        <p th:text="${exception}" class="alert alert-danger"></p>
					    </div> -->
						<div class="loginTabH">
						<form th:action="@{/member/login}" id="loginForm" name="loginForm" method="post">
							<!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->
							<div class="inp_wrap">
								<div class="inp_text sizeS">
									<input type="text" id="ip_name" name="username" title="아이디" placeholder="아이디" required>
								</div>
								<p class="error">아이디를 입력해주세요.</p>
							</div>
							<div class="inp_wrap mgt10">
								<div class="inp_text sizeS">
									<input type="password" id="ip_pwd" name="password" title="비밀번호" placeholder="비밀번호" required>
								</div>
								<p class="error">비밀번호를 입력해주세요.</p>
							</div>
							<button type="submit" id="subbtn" class="btn btnSizeM btnColorP btnTypeR w100 mgt17"><span>로그인</span></button>
							</form>
						</div>
						<div class="btn_member">
							<ul>
								<li><a href="/member/signUp">회원가입</a></li>
								<li><a href="/member/findIdPwd">아이디 찾기</a></li>
								<li><a href="/member/findIdPwd">비밀번호 찾기</a></li>
							</ul>
						</div>
						<div class="btn_sns">
							<ul>
								<li class="sns_n"><a id="naverIdLogin_loginButton" href="javascript:void(0);"><span>네이버 로그인</span></a></li>
								<li class="sns_k" onclick="kakaoLogin();"><a href="javascript:void(0);"><span>카카오 로그인</span></a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->

		<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<!-- <th:block th:replace="common/quickNtalk.html"></th:block> -->
	<!--// 퀵메뉴 + 톡톡 -->
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script type="text/javascript" src="../../js/main.js"></script>
	<script type="text/javascript" src="../../js/eunjung.js"></script>
	<!-- 카카오 로그인 script -->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<!-- 네이버 로그인 script -->
	<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
	<script>
		Kakao.init('3a467ea6d4deddb8d32fec3b3ec47a61'); // 발급받은 키 중 javascript키를 사용해준다.
		console.log(Kakao.isInitialized()); // sdk초기화여부판단
		
		// 카카오 로그인
		function kakaoLogin() {
		    Kakao.Auth.login({
		      success: function (response) {
		        Kakao.API.request({
		          url: '/v2/user/me',
		          success: function (response) {
		        	  console.log(response)
		          },
		          fail: function (error) {
		            console.log(error)
		          },
		        })
		      },
		      fail: function (error) {
		        console.log(error)
		      },
		    })
		    
		    $.ajax({
		        url: '/login/getKakaoAuthUrl',
		        type: 'get',
		        async: false,
		        dataType: 'text',
		        success: function (res) {
		            location.href = res;
		        }
		    });
		}
		
		$(document).ready(function() {

		      var kakaoInfo = '${kakaoInfo}';

		      if(kakaoInfo != ""){
		          var data = JSON.parse(kakaoInfo);

		          alert("카카오로그인 성공 \n accessToken : " + data['accessToken']);
		          alert(
		          "user : \n" + "email : "
		          + data['email']  
		          + "\n nickname : " 
		          + data['nickname']);
		      }
		  });
		
		// 카카오 로그아웃  
		function kakaoLogout() {
		    if (Kakao.Auth.getAccessToken()) {
		      Kakao.API.request({
		        url: '/v1/user/unlink',
		        success: function (response) {
		        	console.log(response)
		        },
		        fail: function (error) {
		          console.log(error)
		        },
		      })
		      Kakao.Auth.setAccessToken(undefined)
		    }
		 }
		
		// 네이버 로그인
		var naverLogin = new naver.LoginWithNaverId(
				{
					clientId: "vU7ZtZIOmsyNVxd_s8K0", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
					callbackUrl: "http://localhost:8100/main", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
					isPopup: false,
					callbackHandle: true
				}
			);	

		naverLogin.init();

		window.addEventListener('load', function () {
			naverLogin.getLoginStatus(function (status) {
				if (status) {
					var email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문을 줍니다.
					var name = naverLogin.user.getName();
		    		
					console.log(naverLogin.user);
		    		
		            if( email == undefined || email == null) {
						alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
						naverLogin.reprompt();
						return;
					}
		            if( name == undefined || name == null) {
						alert("이름은 필수정보입니다. 정보제공을 동의해주세요.");
						naverLogin.reprompt();
						return;
					}
				} else {
					console.log("callback 처리에 실패하였습니다.");
				}
			});
		});


		var testPopUp;
		function openPopUp() {
		    testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
		}
		function closePopUp(){
		    testPopUp.close();
		}

		function naverLogout() {
			openPopUp();
			setTimeout(function() {
				closePopUp();
				}, 1000);
			
			
		}
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>