<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
<div id="wrap" class="main">
<!-- HEADER + GNB -->
<th:block th:replace="common/header.html"></th:block>
<!--// HEADER + GNB -->
	<!-- container -->
<div id="container" class="pdt0">
    <div class="guideTab" id="guideTab1">
        <div style="display: flex;">
            <!-- 헬스장 사진 넣는 곳 -->
            <img class="imgCutting" style="width:50%; height:350px;" src="/images/yonghan/aa1.jpg">
            <img class="imgCutting" style="width:50%; height:350px;" src="/images/yonghan/aa2.jpg">
        </div>
    </div>
	<div class="contents">
		<div style="height: 100%; display: flex; margin-top: 30px;">
            <div style="width: 50%; height: 100%;">
                <h1>선생님 소개</h1>
                <div class="trainerDetailP">
                    <div class="inp_wrap" style="border: 1px solid #CCCCCC; border-radius: 10px;">
						<div class="inp_textArea">
							<!-- 선생님 소개 넣는 곳 -->
							<textarea style="height: 400px;" readonly th:text="${trainer.tIntro}"/>
							<div class="textarea-clone"></div>
						</div>
					</div>
                </div>
				<h1>PT 스케줄</h1>
				<div class="trainerDetailPtS">
					<!-- PT 스케줄 넣는 곳 -->
					<br>
					<p th:text="'평일&nbsp; &nbsp; &nbsp; &nbsp'+${trainer.weekDaySc}"/>
					<p th:text="'주말&nbsp; &nbsp; &nbsp; &nbsp'+${trainer.weekAndSc}"/>
				</div>
				<button class="trainerDetailReport">🚨잘못된 정보 신고하기</button>
				<div class="btn_wrap" style="margin-top: 50px">
					<a href="#" class="btn btnSizeL btnColorW btnTypeR" onclick="showLayer('deliRegister');" style="width:150px;"><span>트레이너 수정</span></a>
				</div>
            </div>
            <div style="width: 50%; height: 100%; display: inline-block;">
                <div style="width: 60%; height: auto; margin-top: 20px; border-radius: 10px; float: right; border: 1px solid #CCCCCC; padding-top: 30px;">
                    <div style="height: 55%;">
                        <div style="width: 100%; height: 100px; display: flex; justify-content: center; margin-top: 10px; padding-bottom: 30px;">
                            <div style="width: 90px; height: 100px;">
                                <!-- 트레이너 사진 넣는 곳 -->
                                <img src="/images/yonghan/trainer.png" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <!-- 트레이너 이름 넣는 곳 -->
                            <p class="trainerDetailName" th:text="${trainer.member?.userName}"/>
                            <!-- 헬스장 이름 넣는 곳 -->
                            <p class="trainerDetailPitName" th:text="${trainer.tGymName}"/>

                            <a href="#" style="display: flex; justify-content: center;">
                                <p style="font-size: 12px; color:#FFBB33;">★</p>
							    <!-- 평균 별점 넣는 곳 -->
								<p class="trainerDetailReview">5.0</p>
								<!-- 리뷰 수 넣는 곳 -->
								<p class="traninerDetailReviewSum">(23)</p>
                            </a>

                            <!-- 한 줄 소개 넣는 곳 -->
                            <p class="trainerDetailOneP" th:text="${trainer.tOneIntro}"/>
                        </div>
                    </div>
                    <div style="height: 45%; background-color: #F8F8F8; border-radius: 10px;">
                        <div class="trainerDetailPrice">
							<br>
							<!-- 가격 넣는 곳 -->
							<h2 th:text="'1회 이용권 '+${#numbers.formatInteger(trainer.tPrice, 0, 'COMMA')+'원'}"/>
							<br>
							<h5>회원권을 등록하지 않아도 가능해요</h5>
						</div>
						<div class="trainerDetailOrderAndQue">
							<button class="trainerDetailOrder" onclick="location.href='#'">1회 체험 신청하기</button>
							<button class="trainerDetailQue">문의</button>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<div id="deliRegister" class="lyPopArea">
	<div class="lyPop">
		<div class="lyWrap">
			<button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
			<div class="lyTit">트레이너 수정</div>
			<div class="lyBody">
				<div class="form_area">
					<dl>
						<dt><label for="deliRegId"><span class="fcRed"></span>센터 이름</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap error">
								<div class="inp_text sizeS">
									<input type="text" name="" id="deliRegId" value="별림 휘트니스">
								</div>
								<p class="error">센터 이름을 입력해주세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>센터 위치 소개</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap error">
								<div class="inp_text sizeS">
									<input type="text" name="" id="deliRegName" value="강남역 도보 6분">
								</div>
								<p class="error">위치를 입력하세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>한 줄 소개</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap error">
								<div class="inp_text sizeS">
									<input type="text" name="" id="deliRegName" value="13년 경력/ 다이어트. 근력증가. 바디프로필 전문">
								</div>
								<p class="error">소개를 입력하세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegHphone"><span class="fcRed">*</span>가격</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap error">
								<div class="inp_text sizeS yb">
									<input type="text" name="" id="deliRegHphone" value="25000">원
								</div>
								<p class="error">가격을 입력해주세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegHphone"><span class="fcRed">*</span>지역</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap error">
								<div class="inp_text sizeS" style="width: 150px;">
									<input type="text" name="" id="deliRegHphone" value="전북">
								</div>
								<p class="error">지역을 입력해주세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>평일 스케줄</label></dt>
						<dd>
							<div class="inp_text sizeS">
								<input type="text" name="" id="deliRegName" value="09:00~21:00">
							</div>
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>주말 스케줄</label></dt>
						<dd>
							<div class="inp_text sizeS">
								<input type="text" name="" id="deliRegName" value="09:00~18:00">
							</div>
						</dd>
					</dl>
					<dl>
						<dt style="margin-right: 20px;"><label for="deliRegName"><span class="fcRed"></span>선생님 소개</label></dt>
							<div class="inp_wrap">
								<div class="inp_textArea yn">
									<textarea>예 예 안녕하세요 반갑습니다. 트레이닝 경력 12년차로 다양한 진상들을 겪어온 베테랑 트레이너 이애림 입니다. 무언가를 배울 때 '누구에게' 배우는 것은 매우 중요한 문제입니다. 전문가에게 제대로 배워서 시작하는 것이 가장 효과적이지요. 운동도 마찬가지입니다. 운동 시작 시 회원님의 몸 상태를 잘 파악하고 지도 해주는 선생님을 만나는 게 중요합니다! 다양한 운동지도 경력이 있는 저와 함께 운동을 시작해보세요!</textarea>
									<div class="textarea-clone"></div>
								</div>
							</div>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>센터 사진(최대 2장)</label></dt>
						<dd style="margin-left: 0px">
							<div class="inp_text sizeS">
								<input type="file" name="fitPhoto1" style="border: none;">
								<input type="file" name="fitPhoto2" style="border: none;">
							</div>
						</dd>
					</dl>
				</div>
				<div class="btn_wrap length2">
					<a href="#" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
					<a href="#" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>수정</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal2">
	<div class="popup2">
		<button id="xBtn">X</button>
		<div style="display: flex;">
			<div class="tD1">
				<!-- 트레이너 사진 넣는 곳 -->
				<img src="/images/yonghan/trainer.png" style="width: 100%; height: 100%; border-radius: 5px;">
			</div>
			<div style="display: block;">
				<!-- 트레이너 이름 넣는 곳 -->
				<p class="tD2">이애림</p>
				<!-- 헬스장 이름 넣는 곳 -->
				<p class="tD3" th:text="${trainer.tGymName}"/>
			</div>
		</div>
		<div class="tD4">
			<p style="margin-left: 10px; text-align: center;">코치님에게 직접 상담받을 수 있어요</p>
		</div>
		<!-- 트레이너 문의 소개 넣는 곳 -->
		<textarea class="tD5" readonly style="resize: none;" th:text="${trainer.queIntro}"/>
		<button id="callBtn">📞전화</button>
	</div>
</div>

	
	<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript" th:inline="javascript">

		$(document).ready(function(){
			$(".trainerDetailQue").click(function(){
				$("#modal2").show();
			});
			$("#xBtn").click(function(){
				$("#modal2").hide();
				$("#callBtn").text("📞전화");
			});
			$("#callBtn").click(function(){
				// 트레이너 번호 넣는 곳
				$("#callBtn").text('[[${trainer.member.userPhone}]]');
			});
		});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<style>
		#quick{display:none;}
	</style>
</body>
</html>