<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<!--// 메타태그, 스타일 -->
<body>
<div id="wrap" class="main">
<!-- HEADER + GNB -->
<th:block th:replace="common/header.html"></th:block>
<!--// HEADER + GNB -->	<!-- //HEADER + GNB -->

	<!-- container -->
	
	<div id="container" class="pd0">
		<div class="order_wrap">
			<div class="contents">
				<p class="order_leng">PT 신청</p>
				<div class="order_box js_orderFloating">
					<div class="order_user order_con">
						<p class="orderTit">주문회원정보</p>
						<dl>
							<dt><label for="order_name"><span class="fcRed">*</span>이름</label></dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="" id="order_name" th:value="${member.userName}" readonly>
									</div>
								</div>
							</dd>
						</dl>
						<dl>
							<dt><label for="order_phone"><span class="fcRed">*</span>휴대폰</label></dt>
							<dd>
								<div class="inp_wrap">
									<div class="inp_text sizeS">
										<input type="text" name="" id="order_phone" th:value="${member.userPhone}" readonly>
									</div>
								</div>
							</dd>
						</dl>
					</div>

					<div class="order_list order_con">
						<ul class="list_box">
							<li>
								<div class="tbl_wrap">
									<div class="pdtImg"><a href="#"><img th:src="${trainer.file_path}+${trainer.change_file1}"></a></div>
									<div class="pdtTxt">
										<p class="pdtBrand" th:text="${trainer.tGymName}"></p>
										<p class="pdtName" th:text="${trainer.member.userName}"></p>
										<p class="pdtPrice" th:text="${#numbers.formatInteger(trainer.tPrice, 0, 'COMMA')+'원'}"></p>
										<p class="pdtOpt">PT 1회 체험</p>
									</div>
								</div>
							</li>

						</ul>
					</div>

					<div class="order_floating">
						<div class="shadow_box">
							<div class="order_price bd_no">
								<dl>
									<dt>결제 금액</dt>
									<dd th:text="${#numbers.formatInteger(trainer.tPrice, 0, 'COMMA')+'원'}"></dd>
								</dl>
							<div class="floating_bottom">
								<div class="total_price">
									<dl style="position: left; width:250px;">
										<dt>최종 결제금액</dt>
										<dd th:text="${#numbers.formatInteger(trainer.tPrice, 0, 'COMMA')+'원'}"></dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="shadow_box">
							<div class="floating_terms">
								<span class="inp_check">
									<input type="checkbox" name="" id="order_terms" required>
									<label for="order_terms">구매조건 및 결제진행 동의</label>
								</span>
								<p>주문 정보 및 결제대행 서비스 이용약관에 모두 동의<br> 합니다. (전자상거래법  제8조 2항)</p>
								<p class="fcRed">상품정보 및 결제대행 서비스 이용약관에 동의하셔야<br> 결제가 진행됩니다.</p>
							</div>
						</div>
						<a href="#" onclick="requestPay();" class="btn btnSizeL btnColorP btnTypeB w100 mgt10"><span>결제하기</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
	
<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->

	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<style>
		#quick{display:none;}
	</style>
	
<script th:inline="javascript">
function requestPay() {
	
	/*<![CDATA[*/
	var userNo = /*[[ ${member.userNo} ]]*/;
	var userName = /*[[ ${member.userName} ]]*/;
	var ordererEmail = /*[[ ${member.userEmail} ]]*/;
	var ordererPhone = /*[[ ${member.userPhone} ]]*/;
	var tPrice = /*[[ ${trainer.tPrice} ]]*/;
	var tName = /*[[ ${trainer.member.userName} ]]*/;
	var productNo = /*[[ ${trainer.tNo} ]]*/;
	/*]]*/
	IMP.init("imp62043576");
	IMP.request_pay({ // param
		pg: "inicis",
		pay_method: "card",
		merchant_uid: "merchant"+new Date().getTime(),
		name: tName + " 트레이너 PT 1회 체험",
		amount: tPrice,
		buyer_email: ordererEmail,
		buyer_name: userName,
		buyer_tel: ordererPhone,
		buyer_addr: "",
		buyer_postcode: ""
	}, function (rsp) { // callback
			if (rsp.success) {
				// 결제 성공 시 로직
				$.ajax({
					url: "/trainer/pay",
					type: "POST",
					data: {"productNo" : productNo,
						   "userNo" : userNo,
						   "ordererEmail" : ordererEmail,
						   "ordererPhone" : ordererPhone},
					success: function(data){
						alert(data);
						location.href="/trainer/orderList?userNo="+userNo;
					},
					error: function(e){
						console.log(e);
					}
				});
			} else {
					// 결제 실패 시 로직
				alert('결제 실패');
			}
	});
}
</script>
	
	
</body>
</html>