<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
<div id="wrap" class="main">
<!-- HEADER + GNB -->
<th:block th:replace="common/header.html"></th:block>
<!--// HEADER + GNB -->
	<!-- container -->
<script>
	const message = '[[${message}]]';
	
	if(message){
		alert(message);			
	}
</script>
<div id="container" class="pdt0">
    <div class="guideTab" id="guideTab1">
        <img class="imgCutting" style="width:100%; height:500px;" src="/images/yonghan/trainermain.png">
    </div>
	<div class="contents">
		<div class="searchTrainer" style="height: 100px;">
			<form action="/trainer/search" method="post" name="searchForm">
				<div class="searchTrainer2" style="display: flex; justify-content: center; align-items: center; margin-top: 35px;">
					<div class="inp_text searchType">
						<div class="inp_wrap">
							<div class="inp_text searchType">
								<input type="text" id="searchTrainer" name="searchTrainer" placeholder="지하철역 검색" style="width: 500px; border: 3px solid #CCCCCC;">
							</div>
						</div>
					</div>
					<div class="btn_wrap">
						<a href="#" onclick="document.searchForm.submit();" class="btn btnSizeL btnColorP btnTypeB" style="width:150px;"><span>트레이너 찾기</span></a>
					</div>
				</div>
			</form>
		</div>
		
		<div class="trainerMain">
			<div class="trainerMain2">
				<h2><span>이용 고객</span></h2><br>
				<h1><span style="color: orange;" th:text="${sumPtOrder}"/></h1><br>
				<h2><span th:text="${sumPtOrder}+'명의 고객이'"/><br>PT를 신청했어요!</h2>
			</div>
			<div class="trainerMain2">
				<h2><span>활동중인 트레이너</span></h2><br>
				<h1><span style="color: orange;" th:text="${sumTrainer}"/></h1><br>
				<h2><span th:text="'전문 트레이너 '+${sumTrainer}+'명이'"/><br>활동중이에요!</h2>
			</div>
			<div class="trainerMain2">
				<h2><span>등록된 후기</span></h2><br>
				<h1><span style="color: orange;" th:text="${sumReview}"/></h1><br>
				<h2><span th:text="'누적 '+${sumReview}+'개 PT 후기를'"/><br>확인해보세요</h2>
			</div>
		</div>
		<div class="btn_wrap" style="margin-top: 50px">
			<th:block sec:authorize="hasRole('ROLE_TRAINER')">
				<a href="#" th:if="${trainer} == null" class="btn btnSizeL btnColorW btnTypeR" onclick="showLayer('deliRegister');" style="width:150px;"><span>트레이너 등록</span></a>
			</th:block>
			<th:block sec:authorize="hasRole('ROLE_MEMBER')">
				<a href="/trainer/orderList?userNo=" th:attrappend="href=${#authentication.principal.userNo}" class="btn btnSizeL btnColorW btnTypeR" style="width:150px;"><span>신청 목록 조회</span></a>
			</th:block>
			<a href="/trainer/detail?tNo=" th:attrappend="href=${#authentication.principal.userNo}" th:if="${trainer} != null" class="btn btnSizeL btnColorW btnTypeR" style="width:150px;"><span>내 페이지 이동</span></a>
		</div>
	</div>
</div>

<div id="deliRegister" class="lyPopArea">
	<div class="lyPop">
		<div class="lyWrap">
			<button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
			<div class="lyTit">트레이너 등록</div>
				<form class="trainerInsertForm" name="trainerInsertForm" action="/trainer/insert" method="post" enctype="multipart/form-data">
			<div class="lyBody">
				<div class="form_area">
					<dl>
						<dt><label for="deliRegId"><span class="fcRed">*</span>센터 이름</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap">
								<div class="inp_text sizeS">
									<input type="text" name="tGymName" id="deliRegId" placeholder="ex) 별림 휘트니스" required>
								</div>
								<p class="error">센터 이름을 입력해주세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>센터 위치 소개</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap">
								<div class="inp_text sizeS">
									<input type="text" name="tAreaIntro" id="deliRegName" placeholder="ex) 강남역 도보 6분" required>
								</div>
								<p class="error">위치를 입력하세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>한 줄 소개</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap">
								<div class="inp_text sizeS">
									<input type="text" name="tOneIntro" id="deliRegName" placeholder="ex) 13년 경력/ 다이어트. 근력증가. 바디프로필 전문" required>
								</div>
								<p class="error">소개를 입력하세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegHphone"><span class="fcRed">*</span>가격</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap">
								<div class="inp_text sizeS yb">
									<input type="text" name="tPrice" id="deliRegHphone" required>원
								</div>
								<p class="error">가격을 입력해주세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegHphone"><span class="fcRed">*</span>지역</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap">
								<div class="inp_text sizeS" style="width: 150px;">
									<input type="text" name="tArea" id="deliRegHphone" placeholder="ex) 전북" required>
								</div>
								<p class="error">지역을 입력해주세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegHphone"><span class="fcRed">*</span>지하철역</label></dt>
						<dd>
							<!-- 200330 에러 메세지 추가 -->
							<div class="inp_wrap">
								<div class="inp_text sizeS" style="width: 150px;">
									<input type="text" name="tMetro" id="deliRegHphone" placeholder="ex) 가양역" required>
								</div>
								<p class="error">지하철역을 입력해주세요.</p>
							</div>
							<!-- // 200330 에러 메세지 추가 -->
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>평일 스케줄</label></dt>
						<dd>
							<div class="inp_text sizeS">
								<input type="text" name=weekDaySc id="deliRegName" placeholder="ex) 09:00~21:00" required>
							</div>
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>주말 스케줄</label></dt>
						<dd>
							<div class="inp_text sizeS">
								<input type="text" name="weekAndSc" id="deliRegName" placeholder="ex) 09:00~18:00" required>
							</div>
						</dd>
					</dl>
					<dl>
						<dt style="margin-right: 20px;"><label for="deliRegName"><span class="fcRed"></span>선생님 소개</label></dt>
							<div class="inp_wrap">
								<div class="inp_textArea yn">
									<textarea name="tIntro" placeholder="선생님 소개를 입력해주세요." required></textarea>
									<div class="textarea-clone"></div>
								</div>
							</div>
					</dl>
					<dl>
						<dt style="margin-right: 30px;"><label for="deliRegName"><span class="fcRed"></span>문의 소개</label></dt>
							<div class="inp_wrap">
								<div class="inp_textArea yn">
									<textarea name="queIntro" placeholder="ex)수업 중에는 연락을 못 받을 수 있습니다." required></textarea>
									<div class="textarea-clone"></div>
								</div>
							</div>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>트레이너 사진</label></dt>
						<dd style="margin-left: 0px">
							<div class="inp_text sizeS">
								<input type="file" name="trainerFile" style="border: none;" required>
							</div>
						</dd>
					</dl>
					<dl>
						<dt><label for="deliRegName"><span class="fcRed">*</span>센터 사진</label></dt>
						<dd style="margin-left: 0px">
							<div class="inp_text sizeS">
								<input type="file" name="centerFile" style="border: none;" required>
							</div>
						</dd>
					</dl>
					<!-- <sec:csrfInput /> -->
					<input type="hidden" name="tNo" th:value="${#authentication.principal.userNo}">
				</div>
				<div class="btn_wrap length2">
					<a href="#" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
					<button type="submit" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></button>
				</div>
			</div>
				</form>
		</div>
	</div>
</div>
<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->

	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<style>
		#quick{display:none;}
	</style>
</body>
</html>