<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
<div id="wrap" class="main">
<!-- HEADER + GNB -->
<th:block th:replace="common/header.html"></th:block>
	<!-- //HEADER + GNB -->

	<!-- container -->
<div id="container" class="pdt0">
    <div class="guideTab" id="guideTab1">
        <div style="display: flex;">
            <!-- 헬스장 사진 넣는 곳 -->
            <img class="imgCutting" style="width:100%; height:350px;" th:src="${trainer.file_path}+${trainer.change_file2}">
        </div>
    </div>
	<div class="contents">
		<div style="height: 100%; display: flex; margin-top: 30px;">
            <div style="width: 50%; height: 100%;">
                <br>
                <h1>최근 후기</h1>
                <div class="trainerReview1">
                    <div class="trainerReviewGrade">
                        <!-- 평점 넣는 곳 -->
                        <p style="font-weight:600; font-size: 30px; margin-top: 20px; margin-left: 20px;" th:text="${trainer.avgStar}"/>

                        <div class="js_rating ratingS" style="margin-top: 20px; margin-left: 10px;">
                        <!-- 평균 별점 넣는 곳 -->
                            <span th:text="${trainer.avgStar}"/>
                            <!-- 리뷰 수 넣는 곳 -->
                            <p style="font-size: 12px; color: #666666;" th:text="${trainer.sumReview}+'개의 후기'"/>
                        </div>
                    </div>
                    <button class="trainerReviewBtn" onclick="showLayer('reViewWritePop');" >✍ 리뷰 남기기</button>
                </div>

                <div class="trainerReviewListZone">
                    <div style="margin-top: 10px; margin-left: 10px; display: inline-block;">
                        <p style="font-weight:600; font-size: 30px;">생생한 후기를 확인하세요!</p>
                    </div>
                    <hr style="border: 1px solid #BFBFBF; width: 95%; margin-left: 10px; margin-top: 10px;">
                    <br>

					<ul>
	                    <li th:each="review:${reviewList}">
	                        <div class="trainerReviewList">
	                            <div style="margin-left: 10px; display: flex;">
	                                <p style="font-size: 25px;">🧑</p>
	                                <!-- 유저 이름 넣는 곳 -->
	                                <p style="font-weight: 600; font-size: 16px; color: #222; margin-left: 5px;" th:text="${review.member.userName}"/>
	                                <!-- 유저 리뷰 등록일 넣는 곳 -->
	                                <p style="font-weight: 500; font-size: 13px; color: #666666; margin-left: 5px; margin-top: 2px;" th:text="${#dates.format(review.rDate, 'yyyy-MM-DD')}"/>
	                            </div>
	                            <div class="js_rating ratingS" style="margin-top: 5px; margin-right: 10px;">
	                                <!-- 별점 넣는 곳 -->
	                                <span th:text="${review.star}"/>
	                            </div>
	                        </div>
	                        <div class="trainerUserReview">
	                            <!-- 유저 리뷰 내용 넣는 곳 -->
	                            <p style="font-weight: 500; font-size: 12px; color: #666666;" th:text="${review.rContent}"/>
	                        </div>
	                        <br>
	                    </li>
					</ul>
				
                </div>
            </div>

            <div style="width: 50%; height: 100%; display: inline-block;">
                <div style="width: 60%; height: auto; margin-top: 20px; border-radius: 10px; float: right; border: 1px solid #CCCCCC; padding-top: 30px;">
                    <div style="height: 55%;">
                        <div style="width: 100%; height: 100px; display: flex; justify-content: center; margin-top: 10px; padding-bottom: 30px;">
                            <div style="width: 90px; height: 100px;">
                                <!-- 트레이너 사진 넣는 곳 -->
                                <img th:src="${trainer.file_path}+${trainer.change_file1}" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <!-- 트레이너 이름 넣는 곳 -->
                            <p class="trainerDetailName" th:text="${trainer.member.userName}+' 선생님'"/>
                            <!-- 헬스장 이름 넣는 곳 -->
                            <p class="trainerDetailPitName" th:text="${trainer.tGymName}"/>

                            <a href="#" style="display: flex; justify-content: center;">
                                <p style="font-size: 12px; color:#FFBB33;">★</p>
							    <!-- 평균 별점 넣는 곳 -->
								<p class="trainerDetailReview" th:text="${trainer.avgStar}"/>
								<!-- 리뷰 수 넣는 곳 -->
								<p class="traninerDetailReviewSum" th:text="'('+${trainer.sumReview}+')'"/>
                            </a>

                            <!-- 한 줄 소개 넣는 곳 -->
                            <p class="trainerDetailOneP" th:text="${trainer.tOneIntro}"/>
                        </div>
                    </div>
                    <div style="height: 45%; background-color: #F8F8F8; border-radius: 10px;">
                        <div class="trainerDetailPrice">
							<br>
							<!-- 가격 넣는 곳 -->
							<h2 th:text="${#numbers.formatInteger(trainer.tPrice, 0, 'COMMA')+'원'}"/>
							<br>
							<h5>회원권을 등록하지 않아도 가능해요</h5>
						</div>
						<div class="trainerDetailOrderAndQue">
							<button class="trainerDetailOrder"><a href="/trainer/order?tNo=" th:attrappend="href=${trainer.tNo}">1회 체험 신청하기</a></button>
							<button class="trainerDetailQue">문의</button>
						</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<div id="modal2">
	<div class="popup2">
		<button id="xBtn">X</button>
		<div style="display: flex;">
			<div class="tD1">
				<!-- 트레이너 사진 넣는 곳 -->
				<img th:src="${trainer.file_path}+${trainer.change_file1}" style="width: 100%; height: 100%; border-radius: 5px;">
			</div>
			<div style="display: block;">
				<!-- 트레이너 이름 넣는 곳 -->
				<p class="tD2" th:text="${trainer.member.userName}"/>
				<!-- 헬스장 이름 넣는 곳 -->
				<p class="tD3" th:text="${trainer.tGymName}"/>
			</div>
		</div>
		<div class="tD4">
			<p style="margin-left: 10px; text-align: center;">코치님에게 직접 상담받을 수 있어요</p>
		</div>
		<!-- 트레이너 문의 소개 넣는 곳 -->
		<textarea class="tD5" readonly style="resize: none;" th:text="${trainer.queIntro}"/>
		<button id="callBtn">📞전화</button>
	</div>
</div>


<div id="reViewWritePop" class="lyPopArea">
		<div class="lyPop">
			<div class="lyWrap">
				<button type="button" class="lyClose" onclick="layerPopClose();"><span class="hide">CLOSED</span></button>
				<div class="lyTit">리뷰 작성</div>
				<form action="/trainer/review/insert" method="post" name="rvForm">
				<div class="lyBody">
					<div class="WrtAreaRating">
						<div class="ratingBox">
							<p class="ratingTtl">PT는 만족하셨나요?</p>
							<div class="js_rating js_userRating ratingXL">
								<span>5</span>
								<div class="userRatingBox">
									<button type="button" class="rating_1">1</button>
									<button type="button" class="rating_2">2</button>
									<button type="button" class="rating_3">3</button>
									<button type="button" class="rating_4">4</button>
									<button type="button" class="rating_5">5</button>
								</div>
							</div>
						</div>
					</div>
					<div class="WrtAreaCtt">
						<div class="coachMarkArea">
							<div class="inp_wrap error mgt10">
								<div class="inp_textArea lengthCheck">
									<textarea name="rContent"></textarea>
									<div class="textarea-clone"></div>
								</div>
								<span class="charCnt">
									<em>0</em>/250자
									<span class="charCommen">250자 이내로 작성해 주세요.</span>
								</span>							
							</div>
						</div>
					</div>
					
					<input type="hidden" class="starResult" name="star" value="5">
					<input type="hidden" name="userNo" th:value="${#authentication.principal.userNo}">
					<input type="hidden" name="tNo" th:value="${trainer.tNo}">
					
					<div class="btn_wrap length2">
						<a href="javascript:void(0);" onclick="layerPopClose();" class="btn btnSizeL btnArr btnColorW btnTypeR"><span>취소</span></a>
						<a href="javascript:void(0);" onclick="document.rvForm.submit();" class="btn btnSizeL btnArr btnColorB btnTypeR"><span>확인</span></a>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>



	<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script type="text/javascript" th:inline="javascript">

		$(document).ready(function(){
			$(".trainerDetailQue").click(function(){
				$("#modal2").show();
			});
			$("#xBtn").click(function(){
				$("#modal2").hide();
				$("#callBtn").text("📞전화");
			});
			$("#callBtn").click(function(){
				// 트레이너 번호 넣는 곳
				$("#callBtn").text('[[${trainer.member.userPhone}]]');
			});
		});
	</script>
	
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<style>
		#quick{display:none;}
	</style>
	

</body>
</html>