<!doctype html>
<html lang="ko">
<head>
<title></title>
<meta name="title" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no, email=no">

<meta property="og:url" content="">
<meta property="og:type" content="website">
<meta property="og:site_name" content="">
<meta property="og:image" content="">

<link rel="shortcut icon" href="">
<link rel="apple-touch-icon" sizes="180x180" href="">
<link rel="icon" type="image/png" sizes="32x32" href="">
<link rel="icon" type="image/png" sizes="16x16" href="">
<link rel="manifest" href="">
<link rel="mask-icon" href="" color="">
<meta name="msapplication-TileColor" content="">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="./resources/web/css/fonts.css">
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
<div id="wrap" class="main">
<!-- HEADER + GNB -->
<th:block th:replace="common/header.html"></th:block>
<!--// HEADER + GNB -->
	<!-- container -->
	<script>
		const msg = '[[${msg}]]';
		
		if(msg){
			alert(msg);			
		}
	</script>
	<div id="container" class="pdt0">
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<span><em>마이페이지</em></span>
            <em>쿠폰</em>
		</div>
		<div class="mypage">
			<div class="myMain myCon">
				<div class="contents">
					<!-- admin lnb -->
					<div th:replace="common/adminGnb.html"></div>
					<!-- //admin lnb -->

					<!-- myPageCon -->
					<div class="myPageCon coupon">
						<p class="tit mgb40">
							쿠폰
						</p>
                        <div class="tab-pannel" id="useableCoupon">
                            <div class="couponList tblBar mgt50">
                                <p class="tblList">총 <span th:text="${listCount}"></span>개</p>                               
                            </div>
                            <div class="js_tblList" th:if="${couponList != null}">
                                <table class="tblType1" summary="">
                                    <caption></caption>
                                    <colgroup>
                                        <col width="50%" />
                                        <col width="25%" />
                                        <col width="25%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>제목</th>
                                            <th>할인금액</th>
                                            <th>사용기간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="coupon : ${couponList}">
                                            <td class="fc88"><a href="#" class="js_ListTtl ListTtl" th:text="${coupon.pName}">크리스마스 맞이 쿠폰</a></td>
                                            <td class="fc88"><span th:text="${coupon.pSale}">2000</span>원</td>
                                            <td class="fc88"><span th:text="${#dates.format(coupon.startDate, 'yyyy-MM-dd')}">2021-12-01</span> ~ <span th:text="${#dates.format(coupon.endDate, 'yyyy-MM-dd')}">2021-12-25</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="paging mgt50"
                                	th:with="prev=${pi.page - 1}, next=${pi.page + 1}">
                                    <a th:href="@{/admin/couponList(page=1)}" class="first"><span class="hide">첫페이지</span></a>
                                    <a class="prev" href="/admin/couponList?page=" th:attrappend="href=${prev}"><span class="hide">이전페이지</span></a>
                                    <a th:each="page : ${#numbers.sequence(pi.startPage, pi.endPage)}" href="/admin/couponList?page=" th:attrappend="href=${page}" th:text="${page}" th:classappend="${page} == ${#httpServletRequest.getParameter('page')} ? active"></a>	                                   
                                    <a class="next" href="/admin/couponList?page=" th:attrappend="href=${next}"><span class="hide">다음페이지</span></a>
                                    <a href="/admin/couponList?page=" th:attrappend="href=${pi.maxPage}" class="last"><span class="hide">마지막페이지</span></a>
                                </div>
                            </div>
                            <!-- 쿠폰 데이터 없을 때 -->
                            <div class="noData" th:unless="${couponList != null}">
                                <span>쿠폰이 없습니다.<br>쿠폰을 등록해주세요</span>
                            </div>
                        </div>
                     </div>
					<!-- //myPageCon -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
	<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
</body>
</html>