	<header id="header">
		<!-- HEADERTOP -->
		<div class="headerTop">
			<div class="contents">
				<div class="utilMenu">
					<ul>
						<th:block sec:authorize="isAnonymous()">
							<li><a href="/member/login">로그인</a></li>
							<li><a href="/member/signUp">회원가입</a></li>
						</th:block>
						<th:block sec:authorize="isAuthenticated()">
							<li><a href="/member/logout">로그아웃</a></li>
						</th:block>
						<li><a href="#">주문 조회</a></li>
						<li><a href="#">고객센터</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- // HEADERTOP -->

		<!-- HEADER -->
		<div class="daoHeader">
			<h1><a href="/"><img class="logoClass" src="../../images/common/logo.png" alt="BANILA.COM"></a></h1>
			<div class="searchH">
				<div class="searchWrap">
					<div class="inp_wrap">
						<div class="inp_text">
							<input type="text" id="headerSearch">
							<button class="btn_clear"><span>clear</span></button>
							<button class="btn_search" type="button"><span class="hide">검색</span></button>
						</div>
					</div>
				</div>
				<div class="jsSearchTxt">
					<div class="rollCon">
						<div class="txt">검색어 순위 1위 노출</div>
						<div class="txt">검색어 순위 2위 노출</div>
						<div class="txt">검색어 순위 3위 노출</div>
						<div class="txt">검색어 순위 4위 노출</div>
						<div class="txt">검색어 순위 5위 노출</div>
					</div>
				</div>
			</div>
			<div class="myMenuH">
				<ul>
					<li><a href="/mypage/">마이페이지</a></li>
					<li><a href="#">장바구니 <span>99</span></a></li>
				</ul>
			</div>
		</div>
		<!-- //HEADER -->
		<!-- GNB -->
		<div class="gnbWrap">
			<div class="gnb">
				<div class="contents">
					<ul class="gnbLink">
						<li><a href="/shopping/ranking/">랭킹</a></li>
						<li><a href="/shopping/newProduct?page=1">신상품</a></li>
						<li><a href="/shopping/foodProduct?page=1">식품</a></li>
						<li><a href="/shopping/beverageProduct?page=1">음료</a></li>
						<li><a href="/shopping/goodsProduct?page=1">운동·생활용품</a></li>
						<li><a href="/trainer/">주변 PT 찾기</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //GNB -->
	</header>
