<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->

	<!-- container -->
	<div id="container">		
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<span><a href="#">전체상품</a></span>
			<em>음료</em>
		</div>
		<div class="productList contents">
			<div class="pageTitArea">
				<h1>음료</h1>
			</div>
            <div class="pdt_list1">
                <ul class="list_box">
                    <li th:each="beverageProduct:${shoppingList}">
                        <div class="pdtImg">
                            <ul class="pdt_type">
                                <li class="bg_p">NEW</li>
                                <li class="bg_p">BEST</li>
                                <li class="bg_p">한정판</li>
                                <li class="bg_r">SALE</li>
                                <li class="bg_r">FREE</li>
                                <li class="bg_r">GIFT</li>
                            </ul>
                            <a href="#" class="imgLink"><img src="./resources/web/images/temp/pdt_img1.png" alt="바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널"></a>
                        </div>
                        <div class="pdtTxt">
                            <p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
                            <p class="pdtBrand" th:text="${beverageProduct.productBrand}"></p>
                            <p class="pdtName" th:text="${beverageProduct.productTitle}"><a href="#"></a></p>
							<p class="pdtPrice"><span class="sasle" th:text="${#numbers.formatInteger(beverageProduct.productPrice, 0, 'COMMA')+'원'}"></span><span class="cost">15,000원</span></p>                            <div class="pdtReview">
                                <div class="js_rating ratingS"><span>4.5</span></div>
                                4.5 <span class="count">(리뷰 18)</span>
                            </div>
                        </div>
                        <a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM on"><span class="hide">찜하기</span></a>
                        <a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
	<!-- //container -->

	<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script type="text/javascript" src="../../js/main.js"></script>
	<script type="text/javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':936});
		mainStart();
		mainVisual();
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>