<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->

	<!-- container -->
	<div id="container">		
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<em>식품</em>
		</div>
		<div class="productList contents">
			<div class="pageTitArea">
				<h1>식품</h1>
			</div>
            <div class="pdt_list1">
                <ul class="list_box">
                    <li th:each="pdt:${shoppingList}">
                        <div class="pdtImg">
                            <ul class="pdt_type">
                                <li class="bg_p">NEW</li>
                                <li class="bg_p">BEST</li>
                            </ul>
							<a th:href="|/shopping/detail?productNo=${pdt.productNo}|" class="imgLink">
								<img th:src="${pdt.file_path}+${pdt.change_file1}" alt="">
							</a>
						</div>
                        <div class="pdtTxt">
							<p class="pdtHead" style="color:#4f8ffa;" th:text="${pdt.categoryId}"></p>
                            <p class="pdtBrand" th:text="${pdt.productBrand}"></p>
                            <p class="pdtName" th:text="${pdt.productTitle}"><a href="#"></a></p>
                            <p class="pdtPrice" th:text="${#numbers.formatInteger(pdt.productPrice, 0, 'COMMA')+'원'}"></p>
                            <div class="pdtReview">
								<div class="js_rating ratingS"><span><th:block data-th-text="${pdt.avgStar}"></th:block></span></div>
								<th:block data-th-text="${pdt.avgStar}"></th:block> <span class="count">(리뷰 <th:block data-th-text="${pdt.sumReview}"></th:block>)</span>
							</div>
						</div>
	                    <a href="javascript:void(0);" th:onclick="|javascript:addWish('${pdt.productNo}')|" th:id="pdtNo_+${pdt.productNo}" class="btn_like likeM"><span class="hide">찜하기</span></a>
	                    <a href="javascript:void(0);" th:onclick="|javascript:cartInsert('${pdt.productNo}')|" class="btn_cart cartM"><span>장바구니</span></a>
                    </li>
                </ul>
            </div>
		</div>
		<div class="paging mgt50" th:with="prev=${pi.page - 1}, next=${pi.page + 1}">
        	<a th:href="@{/shopping/foodProduct(page=1)}" class="first"><span class="hide">첫페이지</span></a>
        	<a class="prev" href="/shopping/foodProduct?page=" th:attrappend="href=${prev}"><span class="hide">이전페이지</span></a>
        	<a th:each="page : ${#numbers.sequence(pi.startPage, pi.endPage)}" href="/shopping/foodProduct?page=" th:attrappend="href=${page}" th:text="${page}" th:classappend="${page} == ${#httpServletRequest.getParameter('page')} ? active"></a>	                                   
        	<a class="next" href="/shopping/foodProduct?page=" th:attrappend="href=${next}"><span class="hide">다음페이지</span></a>
        	<a href="/shopping/foodProduct?page=" th:attrappend="href=${pi.maxPage}" class="last"><span class="hide">마지막페이지</span></a>
	    </div>
	</div>
	<!-- //container -->

	<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script  th:inline="javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':290});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>