<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<!-- 메타태그, 스타일 -->
<th:block th:replace="common/head.html"></th:block>
<!--// 메타태그, 스타일 -->
<body>
	<div id="wrap" class="main">
		<!-- HEADER + GNB -->
		<th:block th:replace="common/header.html"></th:block>
		<!--// HEADER + GNB -->

	<!-- container -->
	<div id="container">		
		<div class="site_location">
			<span><a href="/">HOME</a></span>
			<span><a href="#">전체상품</a></span>
			<em>랭킹</em>
		</div>
		<div class="product_best">
			<div class="pageTitArea">
				<h1>HEALTH DAO 랭킹</h1>
			</div>
			<div class="bestArea">
				<div class="tabType tabType2 sizeL fixedScroll">
					<ul>
						<li><a href="#ScrollTab01" class="current"><span>HHEALTH DAO 베스트</span></a></li>
						<li><a href="#ScrollTab02"><span>식품 베스트</span></a></li>
						<li><a href="#ScrollTab03"><span>음료 베스트</span></a></li>
						<li><a href="#ScrollTab04"><span>운동·생활용품 베스트</span></a></li>
					</ul>
				</div>
				<div class="weeklyBestArea contents" id="ScrollTab01">
					<div class="bestTtl"><p class="fs26 notoB">HEALTH DAO TOP 3</p><span class="fs14 fc88 mgl20">헬스 다오에서 가장 많이 판매된 제품입니다.</span></div>
					<div class="pdt_list1 type03 mgt35">
						<ul class="list_box">
							<li>
								<div class="bestMark" style="background:#ffbc38;"><span>BEST</span><span>1</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#ccc;"><span>BEST</span><span>2</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#dbad82;"><span>BEST</span><span>3</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="TypeBestArea contents" id="ScrollTab02">
					<div class="bestTtl"><p class="fs26 notoB">식품 BEST 3</p><span class="fs14 fc88 mgl20">각 카테고리 기준 최근 한주간 가장 많이 판매된 제품입니다.</span></div>
					<div class="pdt_list1 type03 mgt35">
						<ul class="list_box">
							<li>
								<div class="bestMark" style="background:#ffbc38;"><span>BEST</span><span>1</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#ccc;"><span>BEST</span><span>2</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#dbad82;"><span>BEST</span><span>3</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="TypeBestArea contents" id="ScrollTab03">
					<div class="bestTtl"><p class="fs26 notoB">음료 BEST 3</p><span class="fs14 fc88 mgl20">각 카테고리 기준 최근 한주간 가장 많이 판매된 제품입니다.</span></div>
					<div class="pdt_list1 type03 mgt35">
						<ul class="list_box">
							<li>
								<div class="bestMark" style="background:#ffbc38;"><span>BEST</span><span>1</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#ccc;"><span>BEST</span><span>2</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#dbad82;"><span>BEST</span><span>3</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="TypeBestArea contents" id="ScrollTab04">
					<div class="bestTtl"><p class="fs26 notoB">운동·생활용품 BEST 3</p><span class="fs14 fc88 mgl20">각 카테고리 기준 최근 한주간 가장 많이 판매된 제품입니다.</span></div>
					<div class="pdt_list1 type03 mgt35">
						<ul class="list_box">
							<li>
								<div class="bestMark" style="background:#ffbc38;"><span>BEST</span><span>1</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#ccc;"><span>BEST</span><span>2</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
							<li>
								<div class="bestMark" style="background:#dbad82;"><span>BEST</span><span>3</span></div>
								<div class="pdtImg">
									<a href="#" class="imgLink"><img src="/images/temp/pdt03.png" alt=""></a>
								</div>
								<div class="pdtTxt">
									<p class="pdtHead" style="color:#4f8ffa;">2019 누적판매 15,591건!</p><!-- 문구가 없어도 태그삭제 X -->
									<p class="pdtBrand">바닐라코</p>
									<p class="pdtName"><a href="#">바닐라 바닐라 바닐라클린 잇 제로 클렌징 밤 오리지널</a></p>			
									<p class="pdtPrice"><span class="sale">10%</span>25,200<em>원</em><span class="cost">15,000원</span></p>
									<div class="pdtReview">
										<div class="js_rating ratingS"><span>4.5</span></div>
										4.5 <span class="count">(리뷰 18)</span>
									</div>
								</div>
								<a href="javascript:void(0);" onclick="jsShopFloating('like_floating', this)" class="btn_like likeM"><span class="hide">찜하기</span></a>
								<a href="javascript:void(0);" onclick="jsShopFloating('cart_floating')" class="btn_cart cartM"><span>장바구니</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->

	<!-- 스크립트 -->
		<th:block th:replace="common/script.html"></th:block>
		<!--// 스크립트 -->
		<!-- FOOTER -->
		<th:block th:replace="common/footer.html"></th:block>
		<!--// FOOTER -->
	</div>
	
	<!-- 퀵메뉴 + 톡톡 -->
	<th:block th:replace="common/quickNtalk.html"></th:block>
	<!--// 퀵메뉴 + 톡톡 -->	
	<!-- 해당 페이지에서만 사용되는 스타일, 스크립트 -->
	<script  th:inline="javascript">
		$('#quick .quickArea').css({'position':'absolute', 'top':290});
	</script>
	<!--// 해당 페이지에서만 사용되는 스타일, 스크립트 -->
</body>
</html>